@inject Microsoft.Extensions.Localization.IStringLocalizerFactory LocalizerFactory
@{
    var AR = LocalizerFactory.Create("Senparc.Areas.Admin.Resources.AdminResource", "Senparc.Areas.Admin");
}
﻿    <el-menu-item index="1">
        <a :href="'/Admin/Template_XncfName/Index?uid='+moduleData.xncfModuleDto.uid"><i class="fa fa-laptop"></i>@AR["Common.Home"]</a>
    </el-menu-item>
    <el-menu-item index="2">
        <a :href="'/Admin/Template_XncfName/DatabaseSample?uid='+moduleData.xncfModuleDto.uid"><i class="fa fa-bookmark-o"></i>@AR["Common.DatabaseSample"]</a>
    </el-menu-item>