# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/.vs
/src/Basic/.vs/ScfPackageSources.Basic/v16
*.user
bin/
obj/
**/ProjectFileManager
/src/BuildOutPut
/src/.vs
/src/Basic/.vs/ScfPackageSources.Basic/DesignTimeBuild
**/*/SenparcTraceLog
/src/Extensions/Senparc.Xncf.ChangeNamespace.Tests/App_Data/src/NcfSrc/NCF
/src/test/ClassLibrary1/templates/mytemplate1
/src/test/ClassLibrary1/ClassLibrary1.csproj
/src/NcfPackageSources.sln-backup-*.sln
*.DS_Store
**/appsettings.test.json
/src/Extensions/Senparc.Xncf.PromptRange/Domain/PromptPlugins/XncfBuilderPlugin/
/src/Extensions/Senparc.Xncf.PromptRange.Tests/Domain/PromptPlugins/XncfBuilderPlugin/
/src/Extensions/Senparc.Xncf.XncfBuilder/Senparc.Xncf.XncfBuilder.Tests/Domain/PromptPlugins/XncfBuilderPlugin
/src/Extensions/Senparc.Xncf.PromptRange/objForNcf
/src/DevelopmentTools/Senparc.Web.DatabasePlant/App_Data/Database/SenparcConfig.config
