# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/.vs
/src/Basic/.vs/ScfPackageSources.Basic/v16
*.user
bin/
obj/
**/ProjectFileManager
/src/BuildOutPut
/src/.vs
/src/Basic/.vs/ScfPackageSources.Basic/DesignTimeBuild
/src/Extensions/Senparc.Xscf.DatabaseToolkit/Senparc.Xscf.DatabaseToolkit/App_Data/SenparcTraceLog
/src/Basic/Senparc.Scf.XscfBase.Tests/App_Data/SenparcTraceLog/*.log
