**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/bin
**/charts
**/docker-compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
LICENSE
README.md

# 添加更多 .NET 项目中不需要的文件
**/packages
**/TestResults
**/.nuget
**/bld
**/Backup
**/UpgradeLog*.XML
**/UpgradeLog*.htm
**/ServiceFabricBackup
**/*.rptproj.bak
**/*.cache
**/*.log
**/*.tmp
**/*.user
**/*.userosscache
**/*.sln.docstates
**/*.userprefs
**/mono_crash.*
**/project.lock.json
**/project.fragment.lock.json
**/artifacts
**/MigrationBackup
**/nupkg
**/*.orig
**/thumbs.db
**/Thumbs.db
**/ehthumbs.db
**/Desktop.ini
**/.DS_Store
**/SenparcConfig.Development.config
**/appsettings.Development.json