* {
    box-sizing: border-box;
}
.ifram-wrapper {
    min-height: calc(100vh - 160px);
    width:100%;
    height:100%;
}

/* 侧边栏 */
.dataSheetSet-aside {
    width: 275px;
    /*height: 100%;*/
    overflow: hidden;
    flex-shrink: 0;
    background-color: rgb(255, 255, 255,1);
}
    .dataSheetSet-aside .aside_title {
        padding: 15px 24px 0px;
        height: 50px;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0px;
        color: rgba(48, 65, 86, 1);
        text-align: left;
        vertical-align: top;
    }
    .dataSheetSet-aside .aside_list {
        overflow-x: hidden;
        overflow-y: auto;
        /* 160 88 = 248*/
        max-height: calc(100vh - 248px);
        min-height:300px;
    }
        .dataSheetSet-aside .aside_list .aside_list_item {
            padding: 7px 24px;
            font-size: 16px;
            font-weight: 400;
            letter-spacing: 0px;
            color: rgba(128, 128, 128, 1);
            text-align: left;
            vertical-align: top;
            cursor: pointer;
            /* 单行 溢出隐藏 */
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
            .dataSheetSet-aside .aside_list .aside_list_item:hover {
                background: rgba(166, 166, 166, 0.1);
            }

    .dataSheetSet-aside .aside_newbtn {
        padding: 0px 24px;
        height:38px;
        line-height:38px;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0px;
        color: rgba(42, 130, 228, 1);
        text-align: left;
        vertical-align: top;
        cursor: pointer;
    }
        .dataSheetSet-aside .aside_newbtn:hover {
            background: rgba(166, 166, 166, 0.1);
        }
    .dataSheetSet-aside .aside_select{
        background: rgba(42, 130, 228, 0.05);
    }
/* 主要内容区域 */
.dataSheetSet-main {
    flex: 1;
    display: flex;
    flex-wrap:nowrap;
    flex-basis: auto;
    flex-direction: column;
    gap:25px;
    min-width:300px;
}
    .dataSheetSet-main .main_header {
        flex-shrink: 0;
        height: 50px;
        overflow: hidden;
        position: relative;
    }
    .dataSheetSet-main .main_content {
        /*flex: 1;*/
        background: rgba(255, 255, 255, 1);
    }
        .dataSheetSet-main .main_content .sheetForm-inline {
            padding:20px 30px;
        }
            .dataSheetSet-main .main_content .sheetForm-inline .formValueText {
                width: 200px;
                font-size: 16px;
                font-weight: 400;
                letter-spacing: 0px;
                color: #606266;
                text-align: left;
                vertical-align: top;
                cursor: pointer;
                /* 单行 溢出隐藏 */
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
.dataSheetSet-main .main_content .tips-dataSheet {
    margin-top: 40px;
    margin-bottom: 80px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgba(128, 128, 128, 1);
    text-align: center;
    vertical-align: top;
}
/* 以下 修改el组件样式 */
/* 以下 自定义公用样式 */
.df {
    display: flex;
    flex-wrap: wrap;
}

.df-wn {
    display: flex;
    flex-wrap: nowrap;
}

.flex-dc {
    flex-direction: column;
}

.flex-ac {
    align-items: center;
}

.flex-as {
    align-items: flex-start;
}

.flex-ae {
    align-items: flex-end;
}

.flex-jc {
    justify-content: center;
}

.flex-js {
    justify-content: flex-start;
}

.flex-je {
    justify-content: flex-end;
}

.flex-jsb {
    justify-content: space-between;
}
