@page
@model Senparc.Xncf.AIKernel.Areas.AIKernel.Pages.Index
@{
    ViewData["Title"] = "AIKernel 首页";
    Layout = "_Layout_Vue";
}

@section Style{
    <link href="~/css/Admin/AIKernel/index.css" rel="stylesheet" />
}

@section breadcrumbs{
    <el-breadcrumb-item>扩展模块</el-breadcrumb-item>
    <el-breadcrumb-item>AI 核心模块</el-breadcrumb-item>
    <el-breadcrumb-item>首页</el-breadcrumb-item>
}

<div>
    <div class="filter-container">
        <el-button type="primary" icon="el-icon-plus" size="small" @@click="addModel">添加</el-button>
    </div>

    <el-table :data="tableData" v-loading="tableLoading">
        @* alias *@
        <el-table-column prop="alias" label="别名" width="auto"></el-table-column>
        <el-table-column prop="deploymentName" label="模型名称" width="auto"></el-table-column>
        <el-table-column prop="endpoint" label="Endpoint" width="auto"></el-table-column>
        <el-table-column prop="aiPlatform" label="平台" width="auto"></el-table-column>
        <el-table-column prop="organizationId" label="组织" width="auto"></el-table-column>
        <el-table-column prop="note" label="备注" width="auto"></el-table-column>
        <el-table-column prop="show" label="显示" width="auto">
            <template slot-scope="scope">
                <el-tag v-if="scope.row.show" type="success">显示</el-tag>
                <el-tag v-else type="danger">隐藏</el-tag>
            </template>
        </el-table-column>
        <el-table-column prop="addTime" label="添加时间" width="auto">
            <template slot-scope="scope">
                {{ dateformatter(scope.row.addTime) }}
            </template>
        </el-table-column>
        @* 操作 *@
        <el-table-column label="操作" width="auto">
            <template slot-scope="scope">
                <el-button type="primary" size="mini" @@click="editModel(scope.row)">编辑</el-button>
                <el-button type="danger" size="mini" @@click="deleteModel(scope.row)">删除</el-button>
            </template>
        </el-table-column>
    </el-table>
    <div class="pagination-container">
        <el-pagination
            @@current-change="handleCurrentChange"
            @@size-change="handleSizeChange"
            :current-page="page.page"
            :page-sizes="[10, 20, 30, 40]"
            :page-size="page.size"
            layout="sizes, prev, next, jumper"
            :total="total"
            background
            style="margin-top: 20px"
        >
        </el-pagination>
    </div>


    @* dialog for 添加模型 *@
    <el-dialog title="添加模型" :visible.sync="addFormDialogVisible" width="50%" :close-on-click-modal="false">
        <el-form :model="addForm" label-width="120px">
            <el-form-item label="别名">
                <el-input v-model="addForm.alias"></el-input>
            </el-form-item>
            <el-form-item label="模型名称">
                <el-input v-model="addForm.deploymentName"></el-input>
            </el-form-item>
            <el-form-item label="Endpoint">
                <el-input v-model="addForm.endpoint"></el-input>
            </el-form-item>
            <el-form-item label="平台">
                <el-select v-model="addForm.aiPlatform" placeholder="请选择">
                    <el-option label="NeuCharAI" value="4"></el-option>
                    <el-option label="OpenAI" value="8"></el-option>
                    <el-option label="AzureOpenAI" value="16"></el-option>
                    <el-option label="HuggingFace" value="32"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="组织">
                <el-input v-model="addForm.organizationId"></el-input>
            </el-form-item>
            @* ,[ApiKey] *@
            <el-form-item label="ApiKey">
                <el-input v-model="addForm.apiKey" type="password"></el-input>
            </el-form-item>

            @* ,[ApiVersion] *@
            <el-form-item label="ApiVersion">
                <el-input v-model="addForm.apiVersion"></el-input>
            </el-form-item>
            <el-form-item label="备注">
                <el-input v-model="addForm.note"></el-input>
            </el-form-item>
            @* <el-form-item label="显示"> *@
            @*     $1$ use switch #1# *@
            @*     <el-switch v-model="addForm.show"></el-switch> *@
            @* </el-form-item> *@
            <el-form-item label="MaxToken">
                <el-input v-model="addForm.maxToken"></el-input>
            </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
            <el-button @@click="addFormDialogVisible = false">取 消</el-button>
            <el-button type="primary" @@click="addModelSubmit">确 定</el-button>
        </span>
    </el-dialog>
    @* dialog for 编辑模型 *@
    <el-dialog title="编辑模型" :visible.sync="editFormDialogVisible" width="50%" :close-on-click-modal="false">
        <el-form :model="editForm" label-width="120px">
            <el-form-item label="别名">
                <el-input v-model="addForm.alias"></el-input>
            </el-form-item>
            <el-form-item label="模型名称">
                <el-input v-model="editForm.deploymentName"></el-input>
            </el-form-item>
            <el-form-item label="Endpoint">
                <el-input v-model="editForm.endpoint"></el-input>
            </el-form-item>
            <el-form-item label="平台">
                @* NeuCharAI = 4, *@
                @*  OpenAI = 8, *@
                @*  AzureOpenAI = 16, *@
                @*  HuggingFace = 32 *@
                @* <el-input type="number" v-model="editForm.aiPlatform"></el-input> *@
                @* use el-select *@
                <el-select v-model="editForm.aiPlatform" placeholder="请选择">
                    <el-option label="NeuCharAI" value="4"></el-option>
                    <el-option label="OpenAI" value="8"></el-option>
                    <el-option label="AzureOpenAI" value="16"></el-option>
                    <el-option label="HuggingFace" value="32"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="组织">
                <el-input v-model="editForm.organizationId"></el-input>
            </el-form-item>
            @* ,[ApiKey] *@
            <el-form-item label="ApiKey">
                <el-input v-model="editForm.apiKey" type="password"></el-input>
            </el-form-item>

            @* ,[ApiVersion] *@
            <el-form-item label="ApiVersion">
                <el-input v-model="editForm.apiVersion"></el-input>
            </el-form-item>
            <el-form-item label="备注">
                <el-input v-model="editForm.note"></el-input>
            </el-form-item>
            <el-form-item label="显示">
                @* use switch *@
                <el-switch v-model="editForm.show"></el-switch>
            </el-form-item>
            @* ,[MaxToken] *@
            @* ,[AdminRemark] *@
            @* ,[Remark] *@
            <el-form-item label="MaxToken">
                <el-input v-model="editForm.maxToken"></el-input>
            </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
            <el-button @@click="editFormDialogVisible = false">取 消</el-button>
            <el-button type="primary" @@click="editModelSubmit">确 定</el-button>
        </span>
    </el-dialog>
</div>

@section scripts{
    <script src="~/js/Admin/AIKernel/index.js"></script>
}