@page
@model Senparc.Xncf.AIKernel.Areas.AIKernel.Pages.Index
@{
    ViewData["Title"] = "AIKernel 首页";
    Layout = "_Layout_Vue";
}

@section Style {
    <link href="~/css/Admin/AIKernel/index.css" rel="stylesheet" />
}

@section breadcrumbs {
    <el-breadcrumb-item>扩展模块</el-breadcrumb-item>
    <el-breadcrumb-item>AI 核心模块</el-breadcrumb-item>
    <el-breadcrumb-item>首页</el-breadcrumb-item>
}

<div>
    <div class="filter-container">
        <el-button type="primary" icon="el-icon-plus" size="small" @@click="addModel">添加</el-button>
        <el-button type="primary" icon="el-icon-plus" size="small" @@click="addNeuCharModel">导入 NeuCharAI 云端模型算力</el-button>
    </div>

    <el-table :data="tableData" v-loading="tableLoading" border>
        @* alias *@
        <el-table-column prop="alias" label="别名" width="auto"></el-table-column>
        <el-table-column prop="modelId" label="模型名称" width="auto"></el-table-column>
            @* <template slot-scope="scope">
                <span v-if="scope.row.modelId==='text-davinci-003'">text-davinci-003</span>
                <span v-else-if="scope.row.modelId==='gpt-4'">gpt-4</span>
                <span v-else-if="scope.row.modelId==='text-embedding-ada-002'">text-embedding-ada-002</span>
                <span v-else-if="scope.row.modelId==='gpt-35-turbo'">gpt-35-turbo</span>
                <span v-else-if="scope.row.modelId==='gpt-4-32k'">gpt-4-32k</span>
                <span v-else-if="scope.row.modelId==='gpt-35-turbo-instruct'">gpt-35-turbo-instruct</span>
                <span v-else-if="scope.row.modelId==='dall-e-3'">dall-e-3</span>
            </template> *@
        <el-table-column prop="deploymentName" label="部署名称" width="auto"></el-table-column>
        <el-table-column prop="endpoint" label="Endpoint" width="auto"></el-table-column>
        <el-table-column prop="aiPlatform" label="平台" width="auto">
            <template slot-scope="scope">
                <span v-if="scope.row.aiPlatform===4">NeuCharAI</span>
                <span v-else-if="scope.row.aiPlatform===8">OpenAI</span>
                <span v-else-if="scope.row.aiPlatform===16">AzureOpenAI</span>
                <span v-else-if="scope.row.aiPlatform===32">HuggingFace</span>
                <span v-else-if="scope.row.aiPlatform===128">FastAPI</span>
                <span v-else-if="scope.row.aiPlatform===256">Ollama</span>
                <span v-else-if="scope.row.aiPlatform===512">DeepSeek</span>
                <span v-else type="danger">未知</span>
            </template>
        </el-table-column>
        <el-table-column prop="configModelType" label="模型类型" width="auto">
            <template slot-scope="scope">
                <span v-if="scope.row.configModelType===1">TextCompletion</span>
                <span v-else-if="scope.row.configModelType===2">Chat</span>
                <span v-else-if="scope.row.configModelType===3">TextEmbedding</span>
                <span v-else-if="scope.row.configModelType===4">ImageToText</span>
                <span v-else-if="scope.row.configModelType===5">TextToImage</span>
                <span v-else-if="scope.row.configModelType===6">TextToSpeech</span>
                <span v-else-if="scope.row.configModelType===7">SpeechToText</span>
                <span v-else-if="scope.row.configModelType===8">SpeechRecognition</span>
            </template>
        </el-table-column>
        @* apiKey: only show options of copy *@
        <el-table-column prop="apiKey" label="Api Key" width="auto">
            <template slot-scope="scope">
                <div class="d-flex align-items-center" style="gap: 5px">
                    <span>******{{scope.row.apiKey?scope.row.apiKey.slice(-4):''}}</span>
                    <i class="el-icon-document-copy" style="font-size: 1.3rem;cursor: pointer" @@click="copyInfo(scope.row.apiKey)"></i>
                </div>
            </template>
        </el-table-column>
        <el-table-column prop="note" label="备注" width="auto"></el-table-column>
        <el-table-column prop="addTime" label="添加时间" width="auto">
            <template slot-scope="scope">
                {{ dateformatter(scope.row.addTime) }}
            </template>
        </el-table-column>
        @* 操作 *@
        <el-table-column label="操作" width="auto">
            <template slot-scope="scope">
                <el-button type="primary" size="mini" @@click="editModel(scope.row)">编辑</el-button>
                <el-button type="danger" size="mini" @@click="deleteModel(scope.row)">删除</el-button>
            </template>
        </el-table-column>
    </el-table>
    <div class="pagination-container">
        <el-pagination @@current-change="handleCurrentChange"
                       @@size-change="handleSizeChange"
                       :current-page="page.page"
                       :page-sizes="[10, 20, 30, 40]"
                       :page-size="page.size"
                       layout="sizes, prev, next, jumper"
                       :total="total"
                       background
                       style="margin-top: 20px">
        </el-pagination>
    </div>


    @* dialog for 添加模型 *@
    <el-dialog title="添加模型" :visible.sync="addFormDialogVisible" width="50%" :close-on-click-modal="false">
        <el-form :model="addForm" label-width="120px" :rules="addRules" ref="addForm">
            <el-form-item label="别名" prop="alias">
                <el-input v-model="addForm.alias"></el-input>
            </el-form-item>
            <el-form-item label="平台" prop="aiPlatform">
                <el-select v-model="addForm.aiPlatform" placeholder="请选择">
                    <el-option label="NeuCharAI" value="4"></el-option>
                    <el-option label="OpenAI" value="8"></el-option>
                    <el-option label="AzureOpenAI" value="16"></el-option>
                    <el-option label="HuggingFace" value="32"></el-option>
                    <el-option label="FastAPI" value="128"></el-option>
                    <el-option label="Ollama" value="256"></el-option>
                    <el-option label="DeepSeek" value="512"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="模型类型" prop="configModelType">
                <el-select v-model="addForm.configModelType" placeholder="请选择">
                    <el-option label="TextCompletion" value="1"></el-option>
                    <el-option label="Chat" value="2"></el-option>
                    <el-option label="TextEmbedding" value="3"></el-option>
                    <el-option label="TextToImage" value="4"></el-option>
                    <el-option label="ImageToText" value="5"></el-option>
                    <el-option label="TextToSpeech" value="6"></el-option>
                    <el-option label="SpeechToText" value="7"></el-option>
                    <el-option label="SpeechRecognition" value="8"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="模型名称" v-if="addForm.aiPlatform==='4'" prop="modelId">
                <el-select  v-model="addForm.modelId" filterable allow-create default-first-option placeholder="请选择">
                    <el-option label="text-davinci-003" value="text-davinci-003"></el-option>
                    <el-option label="gpt-4" value="gpt-4"></el-option>
                    <el-option label="text-embedding-ada-002" value="text-embedding-ada-002"></el-option>
                    <el-option label="gpt-35-turbo" value="gpt-35-turbo"></el-option>
                    <el-option label="gpt-35-turbo-instruct" value="gpt-35-turbo-instruct"></el-option>
                    <el-option label="dall-e-3" value="dall-e-3"></el-option>
                    <el-option label="DeepSeek-R1" value="DeepSeek-R1"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="模型名称" v-else-if="addForm.aiPlatform==='512'" prop="modelId">
                <el-select v-model="addForm.modelId" filterable allow-create default-first-option placeholder="请选择">
                    <el-option label="deepseek-chat" value="deepseek-chat"></el-option>
                    <el-option label="deepseek-coder" value="deepseek-coder"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="模型名称" v-else="addForm.aiPlatform!=='4'&&addForm.aiPlatform!=='512'" prop="modelId">
                <el-input v-model="addForm.modelId"></el-input>
            </el-form-item>
            <el-form-item label="部署名称" prop="deploymentName" v-if="addForm.aiPlatform!=='512'">
                <el-input v-model="addForm.deploymentName"></el-input>
            </el-form-item>
            @* ,[ApiVersion] *@
            <el-form-item label="ApiVersion" v-if="addForm.aiPlatform==='16'||addForm.aiPlatform==='4'" prop="apiVersion">
                <el-input v-model="addForm.apiVersion"></el-input>
            </el-form-item>
            @* ,[ApiKey] *@
            <el-form-item label="ApiKey" v-if="addForm.aiPlatform==='16'||addForm.aiPlatform==='8'||addForm.aiPlatform==='4'||addForm.aiPlatform==='512'" prop="apiKey">
                <el-input v-model="addForm.apiKey" type="password"></el-input>
            </el-form-item>
            <el-form-item label="Endpoint" v-if="addForm.aiPlatform==='16'||addForm.aiPlatform==='4'||addForm.aiPlatform==='32'||addForm.aiPlatform==='128'||addForm.aiPlatform==='256'||addForm.aiPlatform==='512'" prop="endpoint">
                <el-input v-model="addForm.endpoint = addForm.aiPlatform==='512' ? 'https://api.deepseek.com' : addForm.endpoint"></el-input>
            </el-form-item>
           <el-form-item label="组织ID"  v-if="addForm.aiPlatform==='8'" prop="organizationId">
                <el-input v-model="addForm.organizationId" type="password"></el-input>
            </el-form-item>
            <el-form-item label="备注" prop="note">
                <el-input v-model="addForm.note"></el-input>
            </el-form-item>
            @* <el-form-item label="显示"> *@
            @*     $1$ use switch #1# *@
            @*     <el-switch v-model="addForm.show"></el-switch> *@
            @* </el-form-item> *@
            <el-form-item label="MaxToken" prop="maxToken">
                <el-input v-model="addForm.maxToken"></el-input>
            </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
            <el-button @@click="addFormDialogVisible = false">取 消</el-button>
            <el-button type="primary" @@click="addModelSubmit">确 定</el-button>
        </span>
    </el-dialog>
    @* dialog for 编辑模型 *@
    <el-dialog title="编辑模型" :visible.sync="editFormDialogVisible" width="50%" :close-on-click-modal="false">
        <el-form :model="editForm" label-width="120px" :rules="editRules" ref="editForm">
            <el-form-item label="别名" prop="alias">
                <el-input v-model="editForm.alias"></el-input>
            </el-form-item>
            <el-form-item label="平台" prop="aiPlatform">
                @* NeuCharAI = 4, *@
                @*  OpenAI = 8, *@
                @*  AzureOpenAI = 16, *@
                @*  HuggingFace = 32 *@
                @*  FastAPI = 128 *@
                @*  Ollama = 256 *@
                @*  DeepSeek = 512 *@
                @* <el-input type="number" v-model="editForm.aiPlatform"></el-input> *@
                @* use el-select *@
                <el-select v-model="editForm.aiPlatform" placeholder="请选择">
                    <el-option label="NeuCharAI" value="4"></el-option>
                    <el-option label="OpenAI" value="8"></el-option>
                    <el-option label="AzureOpenAI" value="16"></el-option>
                    <el-option label="HuggingFace" value="32"></el-option>
                    <el-option label="FastAPI" value="128"></el-option>
                    <el-option label="Ollama" value="256"></el-option>
                    <el-option label="DeepSeek" value="512"></el-option>
                 </el-select>
            </el-form-item>

            <el-form-item label="模型类型" prop="configModelType">
                <el-select v-model="editForm.configModelType" placeholder="请选择">
                    <el-option label="TextCompletion" value="1"></el-option>
                    <el-option label="Chat" value="2"></el-option>
                    <el-option label="TextEmbedding" value="3"></el-option>
                    <el-option label="TextToImage" value="4"></el-option>
                    <el-option label="ImageToText" value="5"></el-option>
                    <el-option label="TextToSpeech" value="6"></el-option>
                    <el-option label="SpeechToText" value="7"></el-option>
                    <el-option label="SpeechRecognition" value="8"></el-option>
                </el-select>
            </el-form-item>

            <el-form-item label="模型名称" prop="modelId">
                <el-select v-if="editForm.aiPlatform==='4'" v-model="editForm.modelId" filterable allow-create default-first-option placeholder="请选择">
                    <el-option label="text-davinci-003" value="text-davinci-003"></el-option>
                    <el-option label="gpt-4" value="gpt-4"></el-option>
                    <el-option label="text-embedding-ada-002" value="text-embedding-ada-002"></el-option>
                    <el-option label="gpt-35-turbo" value="gpt-35-turbo"></el-option>
                    <el-option label="gpt-35-turbo-instruct" value="gpt-35-turbo-instruct"></el-option>
                    <el-option label="dall-e-3" value="dall-e-3"></el-option>
                </el-select>
                <el-select v-if="editForm.aiPlatform==='512'" v-model="editForm.modelId" filterable allow-create default-first-option placeholder="请选择">
                    <el-option label="deepseek-chat" value="deepseek-chat"></el-option>
                    <el-option label="deepseek-coder" value="deepseek-coder"></el-option>
                </el-select>
                <el-input v-if="editForm.aiPlatform!=='4'&&editForm.aiPlatform!=='512'" v-model="editForm.modelId"></el-input>
            </el-form-item>
            <el-form-item label="部署名称" prop="deploymentName" v-if="editForm.aiPlatform!=='512'">
                    <el-input v-model="editForm.deploymentName"></el-input>
                </el-form-item>
                @* ,[ApiVersion] *@
                <el-form-item label="ApiVersion" v-if="editForm.aiPlatform==='16'||editForm.aiPlatform==='4'" prop="apiVersion">
                    <el-input v-model="editForm.apiVersion"></el-input>
                </el-form-item>
                @* ,[ApiKey] *@
               <el-form-item label="ApiKey" v-if="editForm.aiPlatform==='16'||editForm.aiPlatform==='8'||editForm.aiPlatform==='4'||editForm.aiPlatform==='512'" prop="apiKey">
                    <el-input v-model="editForm.apiKey" type="password" placeholder="********"></el-input>
                </el-form-item>
                <el-form-item label="Endpoint" v-if="editForm.aiPlatform==='16'||editForm.aiPlatform==='4'||editForm.aiPlatform==='32'||editForm.aiPlatform==='128'||editForm.aiPlatform==='256'||editForm.aiPlatform==='512'" prop="endpoint">
                    <el-input v-model="editForm.endpoint = editForm.aiPlatform==='512' ? 'https://api.deepseek.com' : editForm.endpoint"></el-input>
                </el-form-item>
             <el-form-item label="组织ID"  v-if="editForm.aiPlatform==='8'" prop="organizationId">
                    <el-input v-model="editForm.organizationId" type="password" placeholder="********"></el-input>
                </el-form-item>
            <el-form-item label="备注" prop="note">
                    <el-input v-model="editForm.note"></el-input>
                </el-form-item>
               <el-form-item label="显示" prop="show">
                    @* use switch *@
                    <el-switch v-model="editForm.show"></el-switch>
                </el-form-item>
                @* ,[MaxToken] *@
                @* ,[AdminRemark] *@
                @* ,[Remark] *@
            <el-form-item label="MaxToken" prop="maxToken">
                    <el-input v-model="editForm.maxToken"></el-input>
            </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
            <el-button @@click="editFormDialogVisible = false">取 消</el-button>
            <el-button type="primary" @@click="editModelSubmit">确 定</el-button>
        </span>
    </el-dialog>

    <!-- dialog for 导入 NeuCharAI 云端模型算力 -->  
    <el-dialog title="导入 NeuCharAI 云端模型算力" :visible.sync="neuCharFormDialogVisible" width="50%" :close-on-click-modal="false">  
        <el-form :model="neuCharForm" label-width="120px" :rules="neuCharRules" ref="neuCharForm">  
            <el-form-item label="DeveloperId" prop="developerId">  
                <el-input v-model="neuCharForm.developerId"></el-input>
            </el-form-item>  
            <el-form-item label="ApiKey" prop="apiKey">  
                <el-input v-model="neuCharForm.apiKey" type="password"></el-input>  
            </el-form-item>  
            <p><i class="fa fa-info-circle"></i>&nbsp; &nbsp;可从 <a href="https://www.neuchar.com/Developer/AiApp" target="_blank">https://www.neuchar.com/Developer/AiApp</a> <i class="fa fa-external-link" aria-hidden="true"></i> 页面中，点击【显示 ApiKey】按钮查看到 DeveloperId 及 ApiKey，如果您有多项，可分批次导入。</p>
        </el-form>  
        <span slot="footer" class="dialog-footer">  
            <el-button @@click="neuCharFormDialogVisible = false">取消</el-button>  
            <el-button type="primary" @@click="addNeuCharModelSubmit">确定</el-button>  
        </span>  
    </el-dialog>  

</div>

@section scripts{
    <script src="~/js/Admin/AIKernel/index.js"></script>
}