@page
@model Senparc.Xncf.KnowledgeBase.Areas.Admin.Pages.KnowledgeBase.RecallTestModel
@{
    ViewData["Title"] = "召回测试";
    Layout = "_Layout_Vue";
}

@section Style {
    <link href="~/css/KnowledgeBase/RecallTest/RecallTest.css" rel="stylesheet" />
}

@section breadcrumbs {
    <el-breadcrumb-item>扩展模块</el-breadcrumb-item>
    <el-breadcrumb-item>知识库管理</el-breadcrumb-item>
    <el-breadcrumb-item>召回测试</el-breadcrumb-item>
}

<div id="app" class="recall-test-page">
    <div class="admin-role">
        <el-card class="box-card recall-test-card">
            <div slot="header" class="clearfix">
                <span>评估方式</span>
            </div>
            <el-radio-group v-model="evalMode" size="small">
                <el-radio-button label="offline">离线评估</el-radio-button>
                <el-radio-button label="online">在线评估</el-radio-button>
            </el-radio-group>
        </el-card>

        <el-card class="box-card recall-test-card">
            <div slot="header" class="clearfix">
                <span>希望召回的内容</span>
            </div>
            <el-input type="textarea" v-model="recallContent" :rows="4" placeholder="请输入希望召回的内容"></el-input>
        </el-card>

        <el-card class="box-card recall-test-card">
            <div slot="header" class="clearfix">
                <span>属性与标签</span>
                <el-button style="float: right; padding: 3px 0" type="text" @@click="openAttrDialog()">+ 新增属性</el-button>
                <el-button style="float: right; padding: 3px 10px" type="text" @@click="openTagDialog()">+ 新增标签</el-button>
            </div>
            <el-form label-width="80px" size="small">
                <el-form-item label="属性">
                    <el-select v-model="selectedAttrs" multiple filterable allow-create placeholder="选择或输入属性" style="width:100%">
                        <el-option v-for="item in attributeList" :key="item.id" :label="item.name" :value="item.id"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="标签">
                    <el-select v-model="selectedTags" multiple filterable allow-create placeholder="选择或输入标签" style="width:100%">
                        <el-option v-for="item in tagList" :key="item.id" :label="item.name" :value="item.id"></el-option>
                    </el-select>
                </el-form-item>
            </el-form>
            <div class="attr-tag-list">
                <div class="list-block">
                    <span class="list-label">已选属性：</span>
                    <el-tag v-for="(a, i) in selectedAttrNames" :key="'a'+i" closable @@close="removeAttr(i)" size="small">{{ a }}</el-tag>
                </div>
                <div class="list-block">
                    <span class="list-label">已选标签：</span>
                    <el-tag v-for="(t, i) in selectedTagNames" :key="'t'+i" closable @@close="removeTag(i)" size="small">{{ t }}</el-tag>
                </div>
            </div>
        </el-card>

        <el-card class="box-card recall-test-card">
            <div slot="header" class="clearfix">
                <span>执行召回</span>
                <el-button style="float: right" type="primary" size="small" @@click="doRecall" :loading="recallLoading">开始召回</el-button>
            </div>
        </el-card>

        <el-card class="box-card recall-test-card">
            <div slot="header" class="clearfix">
                <span>召回结果</span>
            </div>
            <el-table :data="recallResults" style="width:100%" size="small" border max-height="400">
                <el-table-column type="index" label="顺序" width="70" align="center"></el-table-column>
                <el-table-column prop="score" label="评分" width="100" align="center"></el-table-column>
                <el-table-column prop="content" label="内容" min-width="200" show-overflow-tooltip></el-table-column>
                <el-table-column prop="recallTime" label="召回时间" width="170" align="center"></el-table-column>
            </el-table>
            <div v-if="recallResults.length === 0" class="empty-result">暂无召回结果，请输入内容并点击「开始召回」</div>
        </el-card>
    </div>

    <el-dialog title="属性管理" :visible.sync="visible.attrDialog" width="500px" @@close="closeAttrDialog">
        <el-button size="small" type="primary" @@click="addAttr" style="margin-bottom:10px">+ 新增属性</el-button>
        <el-table :data="attributeList" size="small" border>
            <el-table-column prop="name" label="属性名"></el-table-column>
            <el-table-column label="操作" width="150" align="center">
                <template slot-scope="scope">
                    <el-button type="text" size="small" @@click="editAttr(scope.row)">编辑</el-button>
                    <el-button type="text" size="small" class="danger" @@click="deleteAttr(scope.row)">删除</el-button>
                </template>
            </el-table-column>
        </el-table>
        <el-form v-if="visible.attrForm" label-width="80px" size="small" style="margin-top:12px">
            <el-form-item label="属性名">
                <el-input v-model="attrForm.name" placeholder="属性名"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" size="small" @@click="saveAttr">保存</el-button>
                <el-button size="small" @@click="visible.attrForm = false">取消</el-button>
            </el-form-item>
        </el-form>
        <div slot="footer">
            <el-button size="small" @@click="visible.attrDialog = false">关闭</el-button>
        </div>
    </el-dialog>

    <el-dialog title="标签管理" :visible.sync="visible.tagDialog" width="500px" @@close="closeTagDialog">
        <el-button size="small" type="primary" @@click="addTag" style="margin-bottom:10px">+ 新增标签</el-button>
        <el-table :data="tagList" size="small" border>
            <el-table-column prop="name" label="标签名"></el-table-column>
            <el-table-column label="操作" width="150" align="center">
                <template slot-scope="scope">
                    <el-button type="text" size="small" @@click="editTag(scope.row)">编辑</el-button>
                    <el-button type="text" size="small" class="danger" @@click="deleteTag(scope.row)">删除</el-button>
                </template>
            </el-table-column>
        </el-table>
        <el-form v-if="visible.tagForm" label-width="80px" size="small" style="margin-top:12px">
            <el-form-item label="标签名">
                <el-input v-model="tagForm.name" placeholder="标签名"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" size="small" @@click="saveTag">保存</el-button>
                <el-button size="small" @@click="visible.tagForm = false">取消</el-button>
            </el-form-item>
        </el-form>
        <div slot="footer">
            <el-button size="small" @@click="visible.tagDialog = false">关闭</el-button>
        </div>
    </el-dialog>
</div>

@section scripts
{
    <script src="~/js/KnowledgeBase/Pages/RecallTest/recallTest.js"></script>
}
