@page "{handler?}"
@addTagHelper *, Senparc.Areas.Admin
@model Senparc.Areas.Admin.Areas.Admin.Pages.SystemConfig_IndexModel
@{
    ViewData["Title"] = "系统信息";
    Layout = "_Layout_Vue";
}

@section Style{
    <link href="~/css/Admin/SystemConfig/Index.css" rel="stylesheet" />
}

@section breadcrumbs {
    <el-breadcrumb-item>系统管理</el-breadcrumb-item>
    <el-breadcrumb-item>系统信息</el-breadcrumb-item>
}
<div>
    <div class="systemconfig-page">
        <div class="systemconfig-main" v-loading="loading">
            <div class="systemconfig-header">
                <div class="systemconfig-header-text">
                    <h2 class="systemconfig-title">基础信息</h2>
                    <p class="systemconfig-subtitle">系统的基础配置，仅管理员可编辑。</p>
                </div>
                <div class="systemconfig-header-actions">
                    <el-button v-if="!isEditing"
                               size="small"
                               type="primary"
                               icon="el-icon-edit"
                               v-has="['admin-edit']"
                               @@click="startEdit">编辑</el-button>
                    <div v-else class="systemconfig-edit-actions">
                        <el-button size="small" @@click="cancelEdit">取消</el-button>
                        <el-button size="small"
                                   type="primary"
                                   :loading="saving"
                                   @@click="saveConfig">保存</el-button>
                    </div>
                </div>
            </div>

            <el-form ref="configForm"
                     :model="form"
                     :rules="rules"
                     label-position="top"
                     size="small"
                     class="systemconfig-form">
                <el-row :gutter="20">
                    <el-col :span="12">
                        <el-form-item label="系统名称" prop="systemName">
                            <el-input v-model="form.systemName"
                                      :disabled="!isEditing"
                                      placeholder="请输入系统名称"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="12">
                        <el-form-item label="模块发布模式">
                            <div class="systemconfig-field-readonly">
                                <el-tag size="small" type="info">
                                    {{ form.hideModuleManager ? '隐藏模块管理（仅运行已发布模块）' : '显示模块管理（允许管理模块）' }}
                                </el-tag>
                            </div>
                        </el-form-item>
                    </el-col>
                </el-row>
            </el-form>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/js/Admin/Pages/SystemConfig/Index.js"></script>
}