@page
@model Senparc.Xncf.AIKernel.Areas.AIVector.Pages.Index
@{
    ViewData["Title"] = "AIVector 首页";
    Layout = "_Layout_Vue";
}

@section Style {
    <link href="~/css/Admin/AIVector/index.css" rel="stylesheet" />
}

@section breadcrumbs {
    <el-breadcrumb-item>扩展模块</el-breadcrumb-item>
    <el-breadcrumb-item>AI 核心模块</el-breadcrumb-item>
    <el-breadcrumb-item>首页</el-breadcrumb-item>
}

<div>
    <div class="filter-container">
        <el-button type="primary" icon="el-icon-plus" size="small" @@click="addVector">添加</el-button>
    </div>

    <el-table :data="tableData" v-loading="tableLoading" border>
        @* alias *@
        <el-table-column prop="alias" label="别名" width="auto"></el-table-column>
        <el-table-column prop="name" label="部署名称" width="auto"></el-table-column>
        <el-table-column prop="connectionString" label="Endpoint" width="auto"></el-table-column>
        <el-table-column prop="vectorDBType" label="向量数据库类型" width="auto">
            <template slot-scope="scope">
                <span v-if="scope.row.vectorDBType===0">Memory</span>
                <span v-else-if="scope.row.vectorDBType===1">HardDisk</span>
                <span v-else-if="scope.row.vectorDBType===2">Redis</span>
                <span v-else-if="scope.row.vectorDBType===3">Mulivs</span>
                <span v-else-if="scope.row.vectorDBType===4">Chroma</span>
                <span v-else-if="scope.row.vectorDBType===5">PostgreSQL</span>
                <span v-else-if="scope.row.vectorDBType===6">Sqlite</span>
                <span v-else-if="scope.row.vectorDBType===7">SqlServer</span>
            </template>
        </el-table-column>
        <el-table-column prop="note" label="备注" width="auto"></el-table-column>
        <el-table-column prop="addTime" label="添加时间" width="auto">
            <template slot-scope="scope">
                {{ dateformatter(scope.row.addTime) }}
            </template>
        </el-table-column>
        @* 操作 *@
        <el-table-column label="操作" width="auto">
            <template slot-scope="scope">
                <el-button type="primary" size="mini" @@click="editModel(scope.row)">编辑</el-button>
                <el-button type="danger" size="mini" @@click="deleteModel(scope.row)">删除</el-button>
            </template>
        </el-table-column>
    </el-table>
    <div class="pagination-container">
        <el-pagination @@current-change="handleCurrentChange"
                       @@size-change="handleSizeChange"
                       :current-page="page.page"
                       :page-sizes="[10, 20, 30, 40]"
                       :page-size="page.size"
                       layout="sizes, prev, next, jumper"
                       :total="total"
                       background
                       style="margin-top: 20px">
        </el-pagination>
    </div>


    @* dialog for 添加向量数据库 *@
    <el-dialog title="添加向量数据库" :visible.sync="addFormDialogVisible" width="50%" :close-on-click-modal="false">
        <el-form :model="addForm" label-width="120px" :rules="addRules" ref="addForm">
            <el-form-item label="别名" prop="alias">
                <el-input v-model="addForm.alias"></el-input>
            </el-form-item>
            <el-form-item label="向量数据库类型" prop="vectorDBType">
                <el-select v-model="addForm.vectorDBType" placeholder="请选择">
                    <el-option label="Memory" value="0"></el-option>
                    <el-option label="HardDisk" value="1"></el-option>
                    <el-option label="Redis" value="2"></el-option>
                    <el-option label="Mulivs" value="3"></el-option>
                    <el-option label="Chroma" value="4"></el-option>
                    <el-option label="PostgreSQL" value="5"></el-option>
                    <el-option label="Sqlite" value="6"></el-option>
                    <el-option label="SqlServer" value="7"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="名称" prop="name">
                <el-input v-model="addForm.name"></el-input>
            </el-form-item>
            <el-form-item label="连接字符串" prop="connectionString">
                <el-input v-model="addForm.connectionString"></el-input>
            </el-form-item>
            <el-form-item label="备注" prop="note">
                <el-input v-model="addForm.note"></el-input>
            </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
            <el-button @@click="addFormDialogVisible = false">取 消</el-button>
            <el-button type="primary" @@click="addModelSubmit">确 定</el-button>
        </span>
    </el-dialog>
    @* dialog for 编辑向量数据库 *@
    <el-dialog title="编辑向量数据库" :visible.sync="editFormDialogVisible" width="50%" :close-on-click-modal="false">
        <el-form :model="editForm" label-width="120px" :rules="editRules" ref="editForm">
            <el-form-item label="别名" prop="alias">
                <el-input v-model="editForm.alias"></el-input>
            </el-form-item>
            <el-form-item label="向量数据库类型" prop="vectorDBType">
                <el-select v-model="editForm.vectorDBType" placeholder="请选择">
                    <el-option label="Memory" value="0"></el-option>
                    <el-option label="HardDisk" value="1"></el-option>
                    <el-option label="Redis" value="2"></el-option>
                    <el-option label="Mulivs" value="3"></el-option>
                    <el-option label="Chroma" value="4"></el-option>
                    <el-option label="PostgreSQL" value="5"></el-option>
                    <el-option label="Sqlite" value="6"></el-option>
                    <el-option label="SqlServer" value="7"></el-option>
                </el-select>
            </el-form-item>

            <el-form-item label="名称" prop="name">
                <el-input v-model="editForm.name"></el-input>
            </el-form-item>
            <el-form-item label="连接字符串" prop="connectionString">
                <el-input v-model="editForm.connectionString"></el-input>
            </el-form-item>
            <el-form-item label="备注" prop="note">
                <el-input v-model="editForm.note"></el-input>
            </el-form-item>
            <el-form-item label="显示" prop="show">
                @* use switch *@
                <el-switch v-model="editForm.show"></el-switch>
            </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
            <el-button @@click="editFormDialogVisible = false">取 消</el-button>
            <el-button type="primary" @@click="editModelSubmit">确 定</el-button>
        </span>
    </el-dialog>

</div>

@section scripts {
    <script src="~/js/Admin/AIVector/index.js"></script>
}