article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

    audio:not([controls]) {
        display: none;
        /*To prevent the "audio module without control buttons" issue from appearing in mainstream browsers.*/
        height: 0;
        /*Solve the compatibility problem of excess height display on iOS5 mobile terminal. */
    }

[hidden] {
    display: none;
}

address {
    /* For screen readers and search engines to find addresses or phone numbers, the default style is display: block */
    display: block;
}

html {
    font-family: "Microsoft YaHei", sans-serif;
    /* Default font */
    font-size: 100%;
    /* When the user resizes the window, the font size adjusts accordingly. */
    -ms-text-size-adjust: 100%;
    /* Internet Explorer */
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
    /* FireFox browser */
    overflow-y: auto;
}

body {
    margin: 0;
    /* margins */
    padding: 0;
    /* padding */
    border: 0;
    /* frame */
}

a {
    text-decoration: none;
    /* Remove default underline */
}

    a:focus {
        outline: thin dotted;
        /* Address inconsistencies between "outline" in Chrome and other browsers */
    }

    a:active,
    a:hover {
        outline: 0;
    }

h1 {
    /* Make the space and font style of the h1 tag uniform in the section tag and article tag. Compatible with different browsers such as Firefox 4+, Safari 5 and Chrome at the same time */
    font-size: 2em;
    margin: 0em 0;
}

h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

abbr[title] {
    border-bottom: 1px dotted;
    /* Solve the problem that the initial letter style is not defined in IE8/9, Safari 5 and chrome browsers */
}

b,
strong {
    font-weight: bold;
    /* Add bold style to Firefox 4+, Safari 5 and Chrome */
}

dfn {
    font-size: italic;
    /* Add italic style, applied to Safari 5 and Chrome */
}

hr {
    /* Resolve its compatibility issues in Firefox */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

mark {
    /* Solve the problem of undefined styles in IE8/9 */
    background: #ff0;
    color: #000;
}

code,
kbd,
pre,
samp {
    /* Corrected legacy settings for associated fonts in Safari 5 and Chrome */
    font-family: monospace, serif;
    font-size: 1em;
}

pre {
    /* Improve readability of pre tag formatted text in all browsers */
    white-space: pre-wrap;
}

q {
    /* Set consistent quote type */
    quotes: "\201C" "\201D" "\2018" "\2019";
}

    q:before,
    q:after,
    blockquote:before,
    blockquote:after {
        content: "";
    }

small {
    /* Unify compatibility issues with inconsistent font sizes in all browsers */
    font-size: 80%;
}

sub,
sup {
    /* In all browsers, prevent "sub" and "sup" tags from affecting the "line-height" attribute */
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

small {
    font-size: 85%;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

cite {
    font-style: normal;
}

ul,
ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

dl {
    margin-bottom: 20px;
}

li {
    line-height: 20px;
}

dt,
dd {
    line-height: 20px;
}

dt {
    font-weight: bold;
}

dd {
    margin-left: 10px;
}

img {
    border: 0;
    /* In the IE8/9 browser, when the img tag contains the a tag, the img border attribute is removed. */
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 0;
}

fieldset {
    /* Define consistent borders, padding, and margins */
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0;
    /* The problem of changing the "color" attribute is not inherited in IE8/9 browsers */
    padding: 0;
    /* Remove margins so people don't lose style if they zero out the fieldset */
}

button,
input,
select,
textarea {
    border: none;
    outline: none;
    font-family: inherit;
    /* The problem of changing associated font attributes is not inherited in IE8/9 browsers */
    font-size: 100%;
    /* The problem of changing the font size attribute is not inherited in IE8/9 browsers */
    margin: 0;
    /* Compatibility issue of adjusting margin settings in Firefox 4+, Safari 5, and Chrome browsers */
}

button,
input {
    line-height: normal;
    /* Adjust the input form with the "line-height" attribute of "!important" set in the client style sheet under Firefox 4+ browser */
}

button,
select {
    text-transform: none;
    /**
     * Adjust the inheritance inconsistency of "text-transform" between "button" and "select"
     * Other form control elements do not inherit the "text-transform" attribute
     * Fixed the style inheritance problem of "button" tag in Chrome, Safari 5+, and IE 8+
     * Fixed the style inheritance problem of "select" tag in Firefox 4+ and Opera
     */
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    /* Corrected the problem that "input" type form style is not available in iOS devices */
    cursor: pointer;
    /* Enhance the usability and consistency of cursor styles in input forms and other forms */
}

    button[disabled],
    html input[disabled] {
        cursor: default;
        /* Reset default cursor style for disabled forms */
    }

input[type="checkbox"],
input[type="radio"] {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /* Adjust the box model with the size attribute set to "Content Box" in IE 8/9 */
    padding: 0;
    /* Remove excess margins in IE 8/9 */
}

input[type="search"] {
    -webkit-appearance: textfield;
    /* Compatible with setting the "appearance" attribute on "searchfield" on Safari 5 and Chrome */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    /* Compatible with setting the “box-sizing” attribute on “border-box” on Safari 5 and Chrome */
    box-sizing: content-box;
}

    input[type="search"]::-webkit-search-cancel-button,
    input[type="search"]::-webkit-search-decoration {
        -webkit-appearance: none;
        /* Remove container padding and search cancel button attributes in Safari 5 and Chrome on OS X */
    }

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
    /* In IE 8/9, remove the default vertical scroll bar attribute */
    vertical-align: top;
    /* Improve text readability and layout in all browsers */
}

table {
    /* Remove spacing between table cells. */
    border-collapse: collapse;
    border-spacing: 0;
    width: 100% !important;
}

td {
    width: inherit !important;
    padding: 0 !important;
}

/*td span {
        word-break: break-all;
    }*/

.clearfix {
    *zoom: 1;
}

    .clearfix:before,
    .clearfix:after {
        display: table;
        line-height: 0;
        content: "";
    }

    .clearfix:after {
        clear: both;
    }

.fl {
    float: left;
}

.fr {
    float: right;
}

* html .clearfix {
    zoom: 1;
}
/* IE6 */
*:first-child + html .clearfix {
    zoom: 1;
}
/*# sourceMappingURL=base.css.map */
[v-cloak] {
    display: none;
}

.tip_msg {
    position: fixed;
    bottom: 126px;
    width: 100%;
    text-align: center;
    z-index: 1000;
}

    .tip_msg span {
        display: none;
        background-color: rgba(0, 0, 0, 0.7);
        color: #fff;
        padding: 6px 10px;
        font-size: 16px;
        border-radius: 3px;
        font-size: 13px;
        letter-spacing: 1px;
    }

.swiper-title {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #fff;
    text-align: center;
    height: 55px;
    padding: 10px;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
    background: -webkit-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,0.5)); /* Safari 5.1 - 6 */
    background: -o-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,0.5)); /* Opera 11.1 - 12*/
    background: -moz-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,0.5)); /* Firefox 3.6 - 15*/
    background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.5)); /* standard syntax */
}

.swiper-title-all {
    z-index: 2;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #fff;
    text-align: center;
    padding: 10px;
    padding-bottom: 30px;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    word-break: break-all;
    background: -webkit-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,0.5)); /* Safari 5.1 - 6 */
    background: -o-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,0.5)); /* Opera 11.1 - 12*/
    background: -moz-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,0.5)); /* Firefox 3.6 - 15*/
    background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.5)); /* standard syntax */
}

.weui-loadmore_line {
    border-top: 1px solid #bcb7ae;
}

    .weui-loadmore_line .weui-loadmore__tips {
        background-color: #fff;
    }

.weui-loadmore_dot .weui-loadmore__tips:before {
    background-color: #bcb7ae;
}

.weui-loadmore {
    display: none;
}

.lm_active {
    display: block;
}

.empty img {
    width: 170px;
    margin: 0 auto;
    margin-top: 30%;
    display: block;
}

::-webkit-scrollbar {
    display: none;
}

.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 0px !important;
}

.font12 {
    font-size: 12px;
}

.font16 {
    font-size: 16px;
}

.font13 {
    font-size: 13px;
}

.font14 {
    font-size: 14px;
}

.font15 {
    font-size: 15px;
}

.color333 {
    color: #333;
}

.color666 {
    color: #666;
}

.color999 {
    color: #999;
}

.nopadding {
    padding: 0px;
}

.nomargin {
    margin: 0px;
}

.swiper-slide {
    background-size: cover;
    background-position: center;
    height: 200px;
    background-repeat: no-repeat;
    background-color: #fff;
}

.swiper-container img {
    height: 100%;
}

.swiper-pagination-white .swiper-pagination-bullet {
    background: #404040;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: #fff;
}

.validation-summary-valid {
    color: #f54e4e;
}

    .validation-summary-valid ul li {
        padding: 10px 0px;
    }
