@page
@model Senparc.Xncf.PromptRange.Areas.PromptRange.Pages.Index
@{
    ViewData["Title"] = "PromptRange 首页";
    Layout = "_Layout_Vue";
}
@section Style{
    <link href="~/css/PromptRange/index.css" rel="stylesheet" />
}
@section breadcrumbs{
    <el-breadcrumb-item>扩展模块</el-breadcrumb-item>
    <el-breadcrumb-item>提示词靶场</el-breadcrumb-item>
    <el-breadcrumb-item>首页</el-breadcrumb-item>
}

<div class="indexPage">
    <div class="headRow">
        <div class="leftBox">
            <div class="title">
                <div>PromptRange</div>
                <div>提示词靶场</div>
            </div>
            <div class="btn">
                新增模型
            </div>
        </div>
        <img src="~/image/PromptRange/index_headBg.png" class="headBg" />
        <img src="~/image/PromptRange/index_headRight1.png" class="headRightIcon1" />
        <img src="~/image/PromptRange/index_headRight2.png" class="headRightIcon2" />
        <img src="~/image/PromptRange/index_headRight3.png" class="headRightIcon3" />
    </div>
    <div class="mainBox">
        <div class="leftBox cardBox">
            <div class="title"></div>
            <div id="rank">
                <h1>热门 Prompt 和 模型 排行榜</h1>
                <div class="ranking-container">
                    <div class="ranking">
                        <h2>热门 Prompt</h2>
                        <ol id="ol">
                            <li id="li" v-for="(prompt, index) in topPrompts" :key="index">
                                <span class="rank">{{ index + 1 }}</span>
                                <span class="content">{{ prompt.text }}</span>
                                <span class="usage">使用次数: {{ prompt.usageCount }}</span>
                            </li>
                        </ol>
                    </div>
                    <div class="ranking">
                        <h2>热门模型</h2>
                        <ol id="ol">
                            <li id="li" v-for="(model, index) in topModels" :key="index">
                                <span class="rank">{{ index + 1 }}</span>
                                <span class="content">{{ model.name }}</span>
                                <span class="usage">调用次数: {{ model.usageCount }}</span>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="hotMainBox"></div>
        </div>
        <div class="rightBox">
            <div class="cardBox">
                <div class="title">
                    <span class="activeText">已测试Prompt</span>
                    <span class="">已使用模型</span>
                </div>
                <div id="main"></div>
                <div class="hotMainBox"></div>
            </div>
            <div class="cardBox">
                <div class="title">模型使用次数</div>
                <div class="hotMainBox"></div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/js/PromptRange/echarts/echarts.min.js"></script>
    <script src="~/js/PromptRange/echarts/echarts-gl.min.js"></script>
    <script src="~/js/PromptRange/index.js"></script>
}
