@page
@model Senparc.Xncf.PromptRange.Areas.Admin.Pages.PromptRange.ModelModel
@{
    ViewData["Title"] = "PromptRange 模型";
    Layout = "_Layout_Vue";
}

@section breadcrumbs{
    <el-breadcrumb-item>扩展模块</el-breadcrumb-item>
    <el-breadcrumb-item>提示词靶场</el-breadcrumb-item>
    <el-breadcrumb-item>模型</el-breadcrumb-item>
}
@section Style{
    <link href="~/css/PromptRange/model.css" rel="stylesheet" />
}

<div class="modelPage">
    <div class="filterRow">
        <div class="leftBox">
            <el-input placeholder="请输入内容" v-model="queryList.modelName">
                <el-button slot="append" icon="el-icon-search" @@click="app.clickSearch()"></el-button>
            </el-input>
        </div>
        <div class="rightBox">
            <el-button type="primary" @@click="app.createBtnFrom()">新增</el-button>
            <el-button @@click="app.btnBatchdelete()">批量删除</el-button>
        </div>
    </div>

    <el-table ref="ModelTable" :data="tableData" class="tableArea" @@selection-change="app.handleSelectionChange">
        <el-table-column type="selection" width="55"></el-table-column>
        <el-table-column type="index" :index="app.indexMethod" label="序号" width="50"></el-table-column>
        <el-table-column prop="name" label="模型名称" min-width="120"></el-table-column>
        <el-table-column prop="developer" label="开发者" min-width="120"></el-table-column>
        <el-table-column label="是否公开" min-width="120">
            <template slot-scope="scope">
                @*active-color="#13ce66" inactive-color="#ff4949"*@
                <el-switch v-model="scope.row.show" @@change="app.changeStatue(scope.row,scope.row.show)" />
            </template>
        </el-table-column>
        <el-table-column label="操作" width="240">
            <template slot-scope="scope">
           @*      <el-button type="text" @@click="clickDetails(scope.row)">详情</el-button>
                <el-button type="text" @@click="clickMaintenance(scope.row)">维护</el-button> *@
                <el-button type="text" @@click="editBtnFrom(scope.row)">编辑</el-button>
                <el-button type="text" @@click="deleteHandle(scope.row)">删除</el-button>
            </template>
        </el-table-column>
    </el-table>

    <div class="footer_pag">
        <el-pagination background
                       layout="total, sizes, prev, pager, next, jumper"
                       :total="app.tableTotal"
                       :current-page.sync="queryList.page"
                       :page-sizes="app.pageSizes"
                       :page-size="queryList.size"
        @@size-change="handleSizeChange"
        @@current-change="handleCurrentChange">
        </el-pagination>
    </div>

    <el-dialog :title="app.dialogFormTitle" :visible.sync="app.dialogFormVisible" center @@close="closeDialog">
        <el-form :model="newModelForm" :rules="rules" ref="newDialogModelForm">
            <el-form-item label="模型类型" prop="modelType" label-width="120px">
                <el-select v-model="app.newModelForm.modelType" placeholder="请选择模型类型">
                    <el-option v-for="(item,index) in options" :key="index" :label="item.label" :value="item.value"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="模型名称" prop="modelName" label-width="120px">
                <el-input  v-model="app.newModelForm.modelName" autocomplete="off" placeholder="请输入模型名称"></el-input>
            </el-form-item>
            <el-form-item label="模型终端" prop="modelAPI" label-width="120px" v-if="app.editModelName">
                <el-input v-model="app.newModelForm.modelAPI" autocomplete="off" placeholder="请输入模型终端（Endpoint)"></el-input>
            </el-form-item>
            <el-form-item label="API key" prop="modelAPIkey" label-width="120px" v-if="app.editModelName">
                <el-input v-model="app.newModelForm.modelAPIkey" autocomplete="off" placeholder="请输入API key"></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @@click="dialogFormVisible = false">取 消</el-button>
            <el-button type="primary" @@click="submitForm">确 定</el-button>
        </div>
    </el-dialog>
</div>


@section scripts{
    <script src="~/js/PromptRange/model.js"></script>
}