@page
@model Senparc.Xncf.PromptRange.Areas.Admin.Pages.PromptRange.PromptModel
@{
    ViewData["Title"] = "PromptRange Prompt";
    Layout = "_Layout_Vue";
}
@section Style{
    <link href="~/css/Admin/PromptRange/prompt.css" rel="stylesheet" />
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
}
@section breadcrumbs{
    <el-breadcrumb-item>扩展模块</el-breadcrumb-item>
    <el-breadcrumb-item>提示词靶场</el-breadcrumb-item>
    <el-breadcrumb-item>Prompt</el-breadcrumb-item>
}
<div class="promptPage">
   @*左侧 输入测试 *@
    <div class="promptPage_leftArea">
        @*配置*@
        <div class="boxCard configurineArea">
            @*选择靶场*@
            <div class="configurineAreaItem rangeBox">
                <div class="titleRow">
                    <div class="titleRow_leftBox">
                        <img src="~/image/Admin/PromptRange/prompt_selectPrompt.svg" alt="" class="imgIcon" />
                        <div class="titleContent">选择靶道</div>
                    </div>
                    @* <el-button type="primary" size="mini" icon="el-icon-plus">新增靶场</el-button> *@
                </div>
                <el-select v-model="promptid" placeholder="请选择靶道" class="selectRow" @@change="promptChangeHandel($event,'promptid')">
                    <el-option v-for="item in promptOpt"
                               v-key="item.id"
                               :label="item.label"
                               :value="item.value"
                               :disabled="item.disabled">
                    </el-option>
                </el-select>
            </div>
            @*选择模型*@
            <div class="configurineAreaItem modelBox">
                <div class="titleRow">
                    <div class="titleRow_leftBox">
                        <img src="~/image/Admin/PromptRange/prompt_selectModel.svg" alt="" class="imgIcon" />
                        <div class="titleContent">选择模型</div>
                    </div>
                    <el-button type="primary" size="mini" icon="el-icon-plus" @@click="modelFormVisible = true">新增模型</el-button>
                </div>
                <el-select v-model="modelid" placeholder="请选择模型" class="selectRow" @@change="promptChangeHandel($event,'modelid')">
                    <el-option v-for="item in modelOpt"
                               v-key="item.id"
                               :label="item.label"
                               :value="item.value"
                               :disabled="item.disabled">
                    </el-option>
                </el-select>
            </div> 
        </div>
        @*输入*@
        <div class="boxCard inputPromptArea">
            @*参数设置*@
            <div class="configurineAreaItem paramBox">
                <div class="titleRow">
                    <div class="titleRow_leftBox">
                        <i class="requirIcon">*</i>
                        <div class="titleContent">参数设置</div>
                    </div>
                    <el-button size="mini" @@click="resetConfigurineParam">重置</el-button>
                </div>
                <div class="paramBox_contentBox">
                    <div v-for="item in parameterViewList" v-key="item.formField" class="paramBox_contentBox_item">
                        <div class="lableRow">
                            <div class="lableBtn">
                                <span>{{ item.label }}</span>
                                <i class="el-icon-warning-outline"></i>
                            </div>
                        </div>
                        @* v-bind: *@
                        <el-input v-model="item.value" placeholder="" class="inputBox" v-bind:style="{'flex':item.isStr?'1':''}" @@input="parameterInputHandle($event,item)" @@change="promptChangeHandel($event,item.formField)"></el-input>
                        <div v-if="item.isSlider" class="sliderBox">
                            <span>{{item.sliderMin}}</span>
                            <el-slider v-model="item.value" :min="item.sliderMin" :max="item.sliderMax" :step="item.sliderStep" class="slider"></el-slider>
                            <span>{{item.sliderMax}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="titleRow">
                <div class="titleRow_leftBox">
                    <img src="~/image/Admin/PromptRange/prompt_inputPrompt.svg" alt="" class="imgIcon" />
                    <div class="titleContent">输入Prompt</div>
                </div>
                <div class="titleRow_rightBox">
                    <el-button type="primary" size="mini" @@click="replaceFormVisible = true">替换</el-button>
                    <el-button size="mini" @@click="resetInputPrompt">重置</el-button>
                </div>
            </div>
            <div class="inputPromptArea_contentBox">
                <el-input v-model="content" type="textarea"
                          :rows="10"
                          placeholder="请输入内容"
                          class="promptInput" @@change="promptChangeHandel($event,'content')">
                </el-input>
                <div class="remarkRow">
                    <el-input v-model="remarks" type="textarea"
                              :rows="2"
                              maxlength="200"
                              show-word-limit
                              placeholder="请输入备注" class="remarkInputBox" @@change="promptChangeHandel($event,'remarks')">
                    </el-input>
                    <el-button type="primary" size="mini" icon="el-icon-plus" :disabled="targetShootDisabled" v-loading="targetShootLoading" @@click="targetShootHandel">打靶</el-button>
                </div>
            </div>
        </div>
   </div>
   @*右侧 评分|分析*@
    <div class="promptPage_rightArea">
        @*输出*@
        <div class="boxCard outputArea">
            <div class="titleRow">
                <div class="titleRow_leftBox">
                    <img src="~/image/Admin/PromptRange/prompt_output.svg" alt="" class="imgIcon" />
                    <div class="titleContent">输出</div>
                </div>
                <div class="titleRow_scoreBox">
                    <span>平均分:</span>
                    <span>{{outputAverage || '--'}}</span>
                </div>
            </div>
            <div class="outputArea_contentBox">
                <div v-for="(item,index) in outputList" v-key="item.id" class="contentBoxItem" v-bind:class="{'contentBoxActiveItem':outputActive === index}" @@click="app.outputSelectSwitch(index)">
                    <div class="infoRow">
                        <span>版本: {{item.version}}</span>
                        <span>#{{item.addTime}}</span>
                        <span>#{{item.costTime}}</span>
                    </div>
                    <div class="contentRow">
                        {{item.resultString}}
                    </div>
                    <div class="operateRow">
                        <div class="operateRow_item" @@click="app.showRatingView(index,'1')">
                            <img src="~/image/Admin/PromptRange/prompt_score.svg" class="imgIcon" />
                            <span>AI评分: {{item.robotScore>-1 ? item.robotScore : '--'}}</span>
                        </div>
                        <div class="operateRow_item" @@click="app.showRatingView(index,'2')">
                            <img src="~/image/Admin/PromptRange/prompt_score.svg" class="imgIcon" />
                            <span>手动评分: {{item.humanScore>-1 ? item.humanScore : '--'}}</span>
                        </div>
                    </div>
                    <div v-if="item.isScoreView" class="scoreRow">
                        <div class="tabsArea">
                            @* @@click="app.alBtnScoring(index)" *@
                            <div v-if="item.scoreType === '1'" class="tabsAreaItem" v-bind:class="{'activeTabsItem':item.scoreType === '1'}">AI评分</div>
                            <div v-if="item.scoreType === '2'" class="tabsAreaItem" v-bind:class="{'activeTabsItem':item.scoreType === '2'}">手动评分</div>
                        </div>
                        <div v-if="item.scoreType === '1'" class="alScoreArea">
                            <div v-for="(elItem,elindex) in item.alResultList" v-key="elindex" class="valFormItem">
                                <span class="label">{{elItem.label}}</span>
                                <el-input v-model="elItem.value" clearable placeholder="请输入" class="input" />
                            </div>
                            <div class="aiOperation">
                                <el-button type="primary" size="mini" @@click="saveManualScore(item)">开始打分</el-button>
                                <el-button type="primary" size="mini" icon="el-icon-plus" circle @@click="app.addAlScoring(index)"></el-button>
                            </div>
                        </div>
                        <div v-if="item.scoreType === '2'" class="manualScoreArea">
                            <div class="sliderTextRow">
                                <span>0</span>
                                <span>10</span>
                            </div>
                            <el-slider v-model="item.scoreVal" :min="0" :max="10" :step="1"></el-slider>
                            @*<el-input v-model="manualScorVal" clearable placeholder="请输入" class="input"></el-input>*@
                            <div class="manualOperation">
                                <el-button type="primary" size="mini" @@click="saveManualScore(item)">保存</el-button>
                            </div>
                        </div>
                    </div>
                </div>
                <div v-if="outputList.length===0" class="emptyDataArea">
                    暂无数据
                </div>
            </div>
        </div>
        @*分数趋势图*@
        <div class="boxCard analysisArea">
            <div class="titleRow">
                <div class="titleRow_leftBox">
                    <img src="~/image/Admin/PromptRange/prompt_chart.svg" alt="" class="imgIcon" />
                    <div class="titleContent">分数趋势图</div>
                </div>
            </div>
            <div id="promptPage_scoreChart" class="echartsBox">
                <div v-if="chartData.length===0" class="emptyDataArea">
                    暂无数据
                </div>
            </div>
            
        </div>
   </div>
    @*战术选择 dialog*@
    <el-dialog title="战术选择" :visible.sync="tacticalFormVisible" center @@close="tacticalFormCloseDialog">
        <el-form ref="tacticalForm" :model="tacticalForm" :rules="rules" label-width="70px" label-position="left">
            <el-form-item label="战术" prop="tactics">
                <el-radio-group v-model="tacticalForm.tactics">
                    <el-radio label="创建新战术"></el-radio>
                    <el-radio label="新增子战术"></el-radio>
                    <el-radio label="重新瞄准"></el-radio>
                </el-radio-group>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button size="mini" @@click="tacticalFormVisible = false">取 消</el-button>
            <el-button type="primary" size="mini" v-loading="tacticalFormSubmitLoading" @@click="tacticalFormSubmitBtn">确 定</el-button>
        </div>
    </el-dialog>
    @*版本记录-抽屉 drawer*@
    <div class="versionBtn" @@click="seeVersionRecord">版本记录</div>
    <el-drawer :visible.sync="versionDrawer" direction="rtl" title="我是标题" :with-header="false" @@close="versionDrawerClose">
        <div class="versionDrawerArea">
           <div class="versionDrawerArea_titleRow">
               <span>版本记录</span>
                <img src="~/image/Admin/PromptRange/prompt_back.svg" class="imgIcon" onclick="app.versionDrawer = false"/>
           </div>

            <el-input v-model="versionSearchVal" size="mini" placeholder="请输入名称" class="versionDrawerArea_inputRow">
                <el-button slot="append" icon="el-icon-search" size="mini"></el-button>
            </el-input>
            
            <div class="versionDrawerArea_contentRow">
                <el-tree ref="versionTree"
                         default-expand-all
                         :props="versionTreeProps"
                         :data="versionTreeData"
                         :filter-node-method="versionTreeFilterNode"
                         node-key="id"
                         :expand-on-click-node="false"
                         class="filter-tree">
                    <div class="custom-tree-node" slot-scope="{ node, data }">
                        <div class="treeLabelBox">{{ node.label }}</div>
                        <el-popover popper-class="versionTreeMorePopover" placement="left" width="118" trigger="hover">
                            <div class="operateArea">
                                <div class="operateItem">
                                    <span style="margin-right:5px;">是否公开</span>
                                    <el-switch v-model="data.isPublic"
                                               :width="34" @@change="versionRecordIsPublic(data)">
                                    </el-switch>
                                </div>
                                <div class="operateItem" @@click="versionRecordEdit(data)">编辑</div>
                                <div class="operateItem" @@click="versionRecordGenerateCode(data)">生成代码</div>
                                <div class="operateItem" @@click="versionRecordViewNotes(data)">查看备注</div>
                                <div class="operateItem" @@click="versionRecordDelete(data)">删除</div>
                            </div>
                            <img slot="reference" src="~/image/Admin/PromptRange/prompt_moreDot.svg" class="treeMoreIcon" />
                        </el-popover>
                    </div>
                </el-tree>
            </div>
        </div>
    </el-drawer>
    @*替换-对话框 dialog*@
    <el-dialog title="替换" :visible.sync="replaceFormVisible" center @@close="replaceFormCloseDialog">
        <el-form ref="replaceForm" :model="replaceForm" :rules="rules" label-width="70px" label-position="left">
            <div class="formItem">
                <el-form-item label="前缀" prop="prefix">
                    <el-input v-model="replaceForm.prefix" autocomplete="off" placeholder="请输入前缀"></el-input>
                </el-form-item>
                <el-form-item label="后缀" prop="suffix">
                    <el-input v-model="replaceForm.suffix" autocomplete="off" placeholder="请输入后缀"></el-input>
                </el-form-item>
            </div>
            <div v-for="(item,index) in replaceForm.variableList" v-key="index" class="formItem">
                <el-form-item label="变量名" :prop="'replaceForm.' + index + '.name'" :rules="rules.variableName">
                    <el-input v-model="item.name" autocomplete="off" placeholder="请输入变量名"></el-input>
                </el-form-item>
                <el-form-item label="变量值" :prop="'replaceForm.' + index + '.value'" :rules="rules.variableValue">
                    <el-input v-model="item.value" autocomplete="off" placeholder="请输入变量值"></el-input>
                </el-form-item>
                <i class="el-icon-delete deleteIcon" style="cursor:pointer;"></i>
            </div>
            <div class="addVariableRow">
                <el-button type="primary" size="mini" icon="el-icon-plus" @@click="addVariableBtn">新增变量</el-button>
            </div>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button size="mini" @@click="replaceFormVisible = false">取 消</el-button>
            <el-button type="primary" size="mini" @@click="replaceFormSubmit">确 定</el-button>
        </div>
    </el-dialog>
    @*新增模型 dialog*@
    <el-dialog title="新增模型" :visible.sync="modelFormVisible" center @@close="modelFormCloseDialog">
        <el-form ref="modelForm" :model="modelForm" :rules="rules" label-position="left">
            <el-form-item label="模型类型" prop="modelType" label-width="130px">
                <el-select v-model="modelForm.modelType" placeholder="请选择模型类型">
                    <el-option v-for="(item,index) in modelTypeOpt" v-key="index" :label="item.label" :value="item.value" :disabled="item.disabled"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="模型名称" prop="name" label-width="130px">
                <el-input v-model="modelForm.name" autocomplete="off" placeholder="请输入模型名称"></el-input>
            </el-form-item>
            <el-form-item v-if="modelForm.modelType==='AzureOpenAI'||modelForm.modelType==='NeuCharOpenAI'" label="API Version" prop="apiVersion" label-width="130px">
                <el-input v-model="modelForm.apiVersion" autocomplete="off" placeholder="请输入API Version"></el-input>
            </el-form-item>
            <el-form-item v-if="modelForm.modelType==='AzureOpenAI'||modelForm.modelType==='OpenAI'||modelForm.modelType==='NeuCharOpenAI'" label="API key" prop="apiKey" label-width="130px">
                <el-input v-model="modelForm.apiKey" autocomplete="off" placeholder="请输入API key"></el-input>
            </el-form-item>
            <el-form-item v-if="modelForm.modelType==='AzureOpenAI'||modelForm.modelType==='NeuCharOpenAI'||modelForm.modelType==='HugginFace'" label="End Point" prop="endpoint" label-width="130px">
                <el-input v-model="modelForm.endpoint" autocomplete="off" placeholder="请输入End Point"></el-input>
            </el-form-item>
            <el-form-item v-if="modelForm.modelType==='OpenAI'" label="Organization Id" prop="organizationId" label-width="130px">
                <el-input v-model="modelForm.organizationId" autocomplete="off" placeholder="请输入Organization Id"></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @@click="modelFormVisible = false">取 消</el-button>
            <el-button type="primary" v-loading="modelFormSubmitLoading" @@click="modelFormSubmitBtn">确 定</el-button>
        </div>
    </el-dialog>
</div>

@section scripts{
    <script src="~/lib/echarts/dist/echarts.js"></script>
    <script src="~/js/Admin/PromptRange/prompt.js"></script>
}