@page
@model Senparc.Xncf.PromptRange.Areas.Admin.Pages.PromptRange.PromptModel
@{
    ViewData["Title"] = "PromptRange Prompt";
    Layout = "_Layout_Vue";
}
@section Style{
    <link href="~/css/Admin/PromptRange/prompt.css" rel="stylesheet" />
}
@section breadcrumbs{
    <el-breadcrumb-item>扩展模块</el-breadcrumb-item>
    <el-breadcrumb-item>提示词靶场</el-breadcrumb-item>
    <el-breadcrumb-item>Prompt</el-breadcrumb-item>
}
<div class="promptPage">
    <div class="tabsArea">
        <div class="tabsAreaItem" :class="{'activeTabsItem':tabsActive === '1'}" onclick="app.tabsChange('1')">Prompt</div>
        <div class="tabsAreaItem" :class="{'activeTabsItem':tabsActive === '2'}" onclick="app.tabsChange('2')">Prompt管理</div>
    </div>
    @*prompt面板*@
    <div v-if="tabsActive === '1'" class="promptPanelArea">
        <div class="leftBox">
            <div class="titleRow">
                <div class="titlelLeft">
                    <img class="titlelLeftIcon" src="~/image/Admin/PromptRange/prompt_model.svg" />
                    <span class="titlelLeftText">选择模型</span>
                </div>
                <div class="titlelRight">
                    <el-button type="primary">新增模型</el-button>
                    <el-button>重置</el-button>
                </div>
            </div>
            <el-select v-model="parameter.modelid" placeholder="请选择模型" class="selectRow">
                <el-option v-for="item in modelOpt"
                           :key="item.id"
                           :label="item.label"
                           :value="item.value"
                           :disabled="item.disabled">
                </el-option>
            </el-select>
            <div class="lableRow requir">
                参数设置
            </div>
            <div class="parameterRow">
                <div class="parameterRowItem">
                    <div class="lableRow">
                        <div class="lableBtn">
                            <i class="el-icon-warning-outline"></i>
                            <span>Top_p</span>
                        </div>
                    </div>
                    <input v-model="app.parameter.topP" class="inputBox" />
                    <div class="sliderBox">
                        <span>0</span>
                        <el-slider v-model="app.parameter.topP" :min="0" :max="1" :step="0.1" class="slider"></el-slider>
                        <span>1</span>
                    </div>
                </div>
                <div class="parameterRowItem">
                    <div class="lableRow">
                        <div class="lableBtn">
                            <i class="el-icon-warning-outline"></i>
                            <span>Temperature</span>
                        </div>
                    </div>
                    <input v-model="app.parameter.temperature" class="inputBox" />
                    <div class="sliderBox">
                        <span>0</span>
                        <el-slider v-model="app.parameter.temperature" :min="0" :max="1" :step="0.1" class="slider"></el-slider>
                        <span>1</span>
                    </div>
                </div>
            </div>
            <div class="parameterRow">
                <div class="parameterRowItem">
                    <div class="lableRow">
                        <div class="lableBtn">
                            <i class="el-icon-warning-outline"></i>
                            <span>MaxToken</span>
                        </div>
                    </div>
                    <input v-model="app.parameter.maxToken" class="inputBox" />
                    @*<div class="sliderBox">
                        <span>0</span>
                        <el-slider v-model="app.parameter.maxToken" :min="0" :max="1000" :step="1" class="slider"></el-slider>
                        <span>3</span>
                    </div>*@
                </div>
                <div class="parameterRowItem">
                    <div class="lableRow">
                        <div class="lableBtn">
                            <i class="el-icon-warning-outline"></i>
                            <span>Frequeny_penalty</span>
                        </div>
                    </div>
                    <input v-model="app.parameter.frequencyPenalty" class="inputBox" />
                    <div class="sliderBox">
                        <span>-2</span>
                        <el-slider v-model="app.parameter.frequencyPenalty" :min="-2" :max="2" :step="0.1" class="slider"></el-slider>
                        <span>2</span>
                    </div>
                </div>
            </div>
            <div class="parameterRow">
                <div class="parameterRowItem">
                    <div class="lableRow">
                        <div class="lableBtn">
                            <i class="el-icon-warning-outline"></i>
                            <span>Presence_penalty</span>
                        </div>
                    </div>
                    <input v-model="app.parameter.presencePenalty" class="inputBox" />
                    <div class="sliderBox">
                        <span>0</span>
                        <el-slider v-model="app.parameter.presencePenalty" :min="0" :max="1" :step="0.1" class="slider"></el-slider>
                        <span>1</span>
                    </div>
                </div>
                <div class="parameterRowItem"></div>
            </div>
            <div class="lableRow">
                <img src="~/image/Admin/PromptRange/prompt_edit.svg" style="width: 14px;height: 14px;margin-right: 4px;" />
                @*<i class="el-icon-edit" style="margin-right: 4px;"></i>*@
                输入Prompt
            </div>
            <el-input type="textarea"
                      :rows="13"
                      placeholder="请输入内容"
                      v-model="app.parameter.content" style="margin-top:10px">
            </el-input>
            <div class="footerRow">
                <el-button type="primary" @@click="testHandel">测试</el-button>
            </div>
        </div>
        <div class="rightBox">
            <div class="outputWrap">
                <div class="titleRow">
                    <img class="imgIcon" src="~/image/Admin/PromptRange/prompt_seeInput.svg" />
                    <span class="titleText">查看输出</span>
                </div>
                <div class="contentRow">
                    {{outPutVal}}
                </div>
            </div>
            <div class="recordInfoWrap">
                <div class="tabsArea">
                    <div class="tabsAreaItem" :class="{'activeTabsItem':recordInfoTabsActive === '1'}" onclick="app.recordInfoTabsChange('1')">历史记录</div>
                    <div class="tabsAreaItem" :class="{'activeTabsItem':recordInfoTabsActive === '2'}" onclick="app.recordInfoTabsChange('2')">版本信息</div>
                </div>
                <div v-if="recordInfoTabsActive === '1'" class="contentArea">
                    <div v-if="app.historyData&&app.historyData.length>0" v-for="item in app.historyData" :key="item.id" class="historyItem">
                        <div class="time">{{item.time}} (用时{{item.costTime}}ms)</div>
                        <div class="recordwrap">
                            <img src="~/image/Admin/PromptRange/prompt_record1.svg" class="leftIcon" />
                            <div class="rightContent">
                                <div class="askRow">{{item.ask}}</div>
                                <div class="answerRow">{{item.answer}}</div>
                            </div>
                        </div>
                    </div>
                    <div v-if="app.historyData.length === 0" class="emptyData">暂无数据</div>
                </div>
                <el-table v-if="recordInfoTabsActive === '2'" :data="versionData" class="tableArea">
                    <el-table-column prop="modelName" label="模型名称" min-width="100"></el-table-column>
                    <el-table-column prop="promptName" label="Prompt" min-width="100"></el-table-column>
                    <el-table-column prop="time" label="时间" min-width="100"></el-table-column>
                    <el-table-column prop="version" label="版本" min-width="60"></el-table-column>
                </el-table>
            </div>
        </div>
    </div>
    @*prompt管理*@
    <div v-if="tabsActive === '2'" class="promptManageArea">
        <div class="leftArea">
            <div class="titleRow">
                Prompt
            </div>
            <el-select v-model="promptSelectVal" placeholder="请选择Prompt" class="selectRow" @@change="getPromptetail">
                <el-option v-for="item in promptOpt"
                           :key="item.id"
                           :label="item.label"
                           :value="item.value"
                           :disabled="item.disabled">
                </el-option>
            </el-select>
            <div v-if="promptSelectVal" class="promptDetail">
                <img src="~/image/Admin/PromptRange/prompt_record2.svg" class="imgIcon" />
                <div class="rightValBox">
                    <div class="askRow">
                        {{promptDetail.promptName}}
                    </div>
                    <div class="answerRow">
                        {{promptDetail.resultString}}
                    </div>
                </div>
            </div>
            <div class="scoreBtnArea">
                <el-button plain @@click="app.alBtnScoring()">AI打分</el-button>
                <el-button plain @@click="app.manualBtnScoring()">手动打分</el-button>
            </div>
            <div v-if="scoringType === '1'" class="alScoreArea">
                <div class="titleRow">AI打分</div>
                <div v-for="(item,index) in alScoreList" :key="index" class="valFormItem">
                    <span class="label">{{item.label}}</span>
                    <el-input v-model="item.value" clearable placeholder="请输入" class="input" />
                </div>
                <div class="aiOperation">
                    <el-button type="primary">开始打分</el-button>
                    <el-button type="primary" icon="el-icon-plus" circle @@click="app.addAlScoring()"></el-button>
                </div>
            </div>
            <div v-if="scoringType === '2'" class="manualScoreArea">
                <div class="titleRow">手动打分</div>
                <div class="sliderTextRow">
                    <span>0</span>
                    <span>100</span>
                </div>
                <el-slider v-model="manualScorVal" :min="0" :max="100" :step="1" class=""></el-slider>
                @*<el-input v-model="manualScorVal" clearable placeholder="请输入" class="input"></el-input>*@
                <div class="manualOperation">
                    <el-button type="primary" @@click="saveManualScore">保存</el-button>
                </div>
            </div>
        </div>
        <div class="rightArea">
            <div class="filterRow">
                <div class="leftBox">
                    <el-input placeholder="请输入内容" v-model="manageQueryList.modelName">
                        <el-button slot="append" icon="el-icon-search"></el-button>
                    </el-input>
                </div>
                <div class="rightBox">
                    <el-button type="primary" @@click="app.btnBatchExport()">批量导出</el-button>
                    <el-button type="danger" @@click="app.btnBatchDelete()">批量删除</el-button>
                </div>
            </div>

            <el-table ref="ManageTable" :data="manageTableData" class="tableArea" @@selection-change="app.handleSelectionChange">
                <el-table-column type="selection" width="55"></el-table-column>
                <el-table-column type="index" :index="indexMethod" label="序号" width="50"></el-table-column>
                <el-table-column prop="promptName" label="Prompt名称" min-width="120"></el-table-column>
                <el-table-column prop="modelName" label="模型名称" min-width="120"></el-table-column>
                <el-table-column prop="time" label="时间" min-width="120"></el-table-column>
                <el-table-column prop="version" label="版本" min-width="100"></el-table-column>
                <el-table-column prop="score" label="分数" min-width="50"></el-table-column>
                <el-table-column label="是否公开" min-width="100">
                    <template slot-scope="scope">
                        <el-switch v-model="scope.row.show" />
                    </template>
                </el-table-column>
                <el-table-column label="操作" width="50">
                    <template slot-scope="scope">
                        <el-popover placement="bottom-end"
                                    width="100"
                                    trigger="hover">
                            <div>
                                <div @@click="btnDetailHandle(scope.row)">详情</div>
                                <div @@click="btnEditHandle(scope.row)">编辑</div>
                                @*<div>生成代码</div>*@
                                <div @@click="btnDeleteHandle(scope.row)">删除</div>
                            </div>
                            <i slot="reference" class="el-icon-more"></i>
                        </el-popover>
                    </template>
                </el-table-column>
            </el-table>

            @*<div class="footer_pag">
                <el-pagination background
                               layout="total, sizes, prev, pager, next, jumper"
                               :page-size="manageQueryList.size"
                               :current-page.sync="manageQueryList.page"
                               :page-sizes="app.pageSizes"
                               :total="app.manageTableTotal"
                               @@size-change="handleSizeChange"
                               @@current-change="handleCurrentChange">
                </el-pagination>
            </div>*@
        </div>
    </div>
</div>

@section scripts{
    <script src="~/js/Admin/PromptRange/prompt.js"></script>
}