@page
@model IndexModel
@{
    ViewData["Title"] = "测试页";
}

<div class="text-center">
    <h1 class="display-4">NeuCharFramework</h1>
    <p>
        注意：此项目是 NCF 基础包的集成测试项目，仅验证编译是否能通过，无参考意义，并非 NCF 模板项目！
        <a href="https://github.com/NeuCharFramework/NCF/">点击这里</a> 查看可直接安装使用的 NCF 模板项目！
    </p>
</div>
