@page

@model Senparc.Areas.Admin.Pages.IndexModel
@{
    ViewData["Title"] = "管理员后台首页";
    Layout = "_Layout_Vue";
}
@section style {
    <style>
        .xncf-stat-item {
            position: relative;
            display: block;
            margin-bottom: 12px;
            border: 1px solid #E4E4E4;
            overflow: hidden;
            padding-bottom: 5px;
            border-radius: 5px;
            background-clip: padding-box;
            background: #FFF;
            transition: all 300ms ease-in-out;
            padding-left: 10px;
        }

            .xncf-stat-item .icon {
                font-size: 60px;
                color: #BAB8B8;
                position: absolute;
                right: 20px;
                top: -5px;
            }

            .xncf-stat-item .count {
                font-size: 38px;
                font-weight: bold;
                line-height: 1.65857;
            }

            .xncf-stat-item .tit {
                color: #BAB8B8;
                font-size: 24px;
            }

            .xncf-stat-item p {
                margin-bottom: 5px;
            }

        .chart-title {
            font-size: 20px;
        }

        .chart-li {
            padding-top: 20px;
        }

            .chart-li li {
                line-height: 2;
            }

            .chart-li .fa {
                margin-right: 5px;
            }

        .box-card {
            margin-top: 20px
        }

            .box-card:hover {
                border-color: purple; /* 外框颜色 */
                box-shadow: 0 0 10px rgba(128, 0, 128, 0.5); /* 发光阴影颜色 */
            }

        #xncf-modules-area {
            margin-bottom: 50px;
        }

            #xncf-modules-area .xncf-item {
            }

                #xncf-modules-area .xncf-item .version {
                    float: right;
                }

                #xncf-modules-area .xncf-item .icon {
                    float: left;
                }

                /* 模块卡片样式优化 */
#xncf-modules-area .xncf-item .box-card {
    height: 160px;
    transition: all 0.3s ease;
    cursor: pointer;
}

#xncf-modules-area .xncf-item .box-card:hover {
    transform: translateY(-5px);
    border-color: #8c52ff;
    box-shadow: 0 5px 15px rgba(140, 82, 255, 0.2);
}

/* 模块图标样式优化 */
.component-item {
    display: flex;
    align-items: center;
    padding: 15px;
    height: 100%;
}

.component-item .icon {
    font-size: 40px;
    color: #8c52ff;
    transition: all 0.3s ease;
    margin-right: 15px;
    flex-shrink: 0;
}

.component-item .description {
    flex: 1;
    font-size: 13px;
    color: #666;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-height: 1.5;
}



#xncf-modules-area .xncf-item .box-card:hover .icon {
    transform: scale(1.1);
}



/* 版本号样式优化 */
.xncf-item .version {
    background: #f0f2f5;
    padding: 2px 6px;
    border-radius: 10px;
    font-size: 12px;
    color: #666;
    display: flex;
    align-items: center;
}

.version-upgrade-icon {
    color: #409EFF;
    margin-left: 4px;
    font-size: 14px;
}

/* 模块名称样式 */
.xncf-item .el-card__header {
    padding: 10px 15px;
}

/* 响应式布局优化 */
@@media screen and (max-width: 1200px) {
    #xncf-modules-area .el-col-6 {
        width: 33.33%;
    }
}

@@media screen and (max-width: 768px) {
    #xncf-modules-area .el-col-6 {
        width: 50%;
    }
}

@@media screen and (max-width: 480px) {
    #xncf-modules-area .el-col-6 {
        width: 100%;
    }
}
    </style>
}
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf

<!-- 统计数据 -->
<div>
    <el-container>
        <el-header class="module-header">
            <span class="start-title"><span class="module-header-v">NeuCharFramework 管理员后台</span></span>
        </el-header>
        <el-main></el-main>
    </el-container>
    <el-row :gutter="20">
        <el-col :span="6">
            <a href="~/Admin/XncfModule/Index">
                <div class="grid-content xncf-stat-item">
                    <span class="count">{{xncfStat.installedXncfCount || 0}}</span>
                    <div class="icon">
                        <i class="fa fa-caret-square-o-right"></i>
                    </div>
                    <p class="tit">已安装模块</p>
                </div>
            </a>
        </el-col>
        <el-col :span="6">
            <a href="~/Admin/XncfModule/Index">
                <div class="grid-content bg-purple xncf-stat-item">
                    <span class="count">{{xncfStat.updateVersionXncfCount || 0}}</span>
                    <div class="icon">
                        <i class="fa fa-comments-o"></i>
                    </div>
                    <p class="tit">待更新模块</p>
                </div>
            </a>
        </el-col>
        <el-col :span="6">
            <a href="~/Admin/XncfModule/Index">
                <div class="grid-content bg-purple xncf-stat-item">
                    <span class="count">{{xncfStat.newXncfCount || 0}}</span>
                    <div class="icon">
                        <i class="fa fa-sort-amount-desc"></i>
                    </div>
                    <p class="tit">发现新模块</p>
                </div>
            </a>
        </el-col>
        <el-col :span="6">
            <a href="~/Admin/XncfModule/Index">
                <div class="grid-content bg-purple xncf-stat-item">
                    <span class="count">{{xncfStat.missingXncfCount || 0}}</span>
                    <div class="icon">
                        <i class="fa fa-check-square-o"></i>
                    </div>
                    <p class="tit">模块异常</p>
                </div>
            </a>
        </el-col>
    </el-row>
    <el-row :gutter="10">
        <el-col :xs="20" :sm="20" :md="20" :lg="12" :xl="12">
            <el-card class="box-card">
                <div id="firstChart" style="height:350px;width: 100%">
                </div>
            </el-card>
        </el-col>
        <el-col :xs="20" :sm="20" :md="20" :lg="12" :xl="12">
            <el-card class="box-card">
                <div id="secondChart" style="height:350px;width: 100%">
                </div>
            </el-card>
        </el-col>
    </el-row>
</div>

<!-- 功能模块 -->
<div>
    <el-row>
        <el-card class="box-card">
            <div slot="header" class="clearfix">
                <span><i class="fa fa-cubes"></i> 功能模块</span>
            </div>
            <div id="xncf-modules-area">
                <el-row :gutter="20">
                    <el-col :span="6" class="xncf-item" v-for="item in xncfOpeningList" :key="item.uid">
                        <a v-bind:href="'/Admin/XncfModule/Start/?uid='+item.uid">
                            <el-card class="box-card">
                                <div slot="header" class="clearfix">
                                    <span>{{item.menuName}}</span>
                                    <span class="version">
                                        v{{item.version}}
                                        <el-tooltip v-if="item.hasNewVersion" effect="light" :content="'当前版本: v' + item.version + ' -> 可更新至: v' + item.newVersion">
                                            <i class="fa fa-arrow-circle-up version-upgrade-icon"></i>
                                        </el-tooltip>
                                    </span>
                                </div>
                                <div class="component-item">
                                    <i :class="[item.icon, 'icon']"></i>
                                    <div class="description">{{item.description || '暂无描述'}}</div>
                                </div>
                            </el-card>
                        </a>
                    </el-col>
                </el-row>
            </div>
        </el-card>
    </el-row>
</div>

@section scripts {
    <script src="~/lib/echarts/dist/echarts.js"></script>
    <script src="~/js/Admin/Pages/Index/Index.js"></script>
}