@page
@model Senparc.Areas.Admin.Areas.Admin.PagesRolePermissionModel
@{
    //ViewData["Title"] = $"{Model.SysRoleInfo.RoleName}Role permission list";
    Layout = "_Layout_old";
}

@section Style{
    <link href="~/node_modules/@@ztree/ztree_v3/css/zTreeStyle/zTreeStyle.css" rel="stylesheet" />
}


@section breadcrumbs{
    <li>System management</li>
    <li>
        <a asp-Page="/Role/Index" asp-area="Admin">role management</a>
    </li>
    <li>
        Role permission management</li>
}
<!-- START row-->

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_content">
                <h3>
                    @Model.SysRoleInfo.RoleName - Permission settings</h3>
                <div class="treeContainer">
                    <ul id="tree" class="ztree"></ul>
                </div>
                <a asp-page="Index" class="btn btn-default">return</a>
                <a class="btn btn-primary" id="save">save</a>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/node_modules/@@ztree/ztree_v3/js/jquery.ztree.core.min.js"></script>
    <script src="~/node_modules/@@ztree/ztree_v3/js/jquery.ztree.excheck.min.js"></script>
    <script src="~/js/Admin/Pages/Role/Permission.js"></script>
}