.filter-container {
    padding-bottom: 10px;
}

.pagination-container {
    padding: 20px 0;
}

.el-upload-dragger {
    width: 100%;
}

.el-upload {
    width: 100%;
}

.el-dialog .el-upload {
    width: auto;
} 