@page
@model Senparc.Xncf.DynamicData.Areas.Admin.Pages.DynamicData.LayoutSetModel


@{
    ViewData["Title"] = "DynamicData 布局创建";
    Layout = "_Layout_Vue";
}

@section Style {
    <link href="~/css/DynamicData/layoutSet.css" rel="stylesheet" />
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
}

@section breadcrumbs {
    <el-breadcrumb-item>扩展模块</el-breadcrumb-item>
    <el-breadcrumb-item>动态数据基础模块</el-breadcrumb-item>
    <el-breadcrumb-item>数据表设置</el-breadcrumb-item>
}

<el-container style="height: 100%;flex-direction:column;flex-wrap: nowrap;">
    <div class="layoutSet-nav df-wn flex-ac">
        <div class="nav-titlebox df-wn flex-ac flex-jc">
            <template v-if="isEditLayoutName">
                <el-input ref="inputLayoutName" v-model.trim="layoutName" :size="elSize" placeholder="请输入布局名称" style="width:310px" @@blur="handleBlurLayoutName"></el-input>
            </template>
            <template v-else>
                <span class="title-text" :class="{'title-text_value':!!layoutName}">{{ layoutName || '请输入布局名称' }}</span>
                <i class="el-icon-edit editLayoutName-btn" @@click="handleEditLayoutName"></i>
            </template>
        </div>
        <div class="nav-btnbox df-wn flex-ac flex-je">
            <el-button type="primary" :size="elSize" @@click="handleCodeView">代码查看</el-button>
            <el-button type="primary" :size="elSize" icon="el-icon-caret-right" @@click="handlePreview"></el-button>
            <el-button type="primary" :size="elSize" icon="el-icon-s-promotion" @@click="handleRelease">发布</el-button>
        </div>
    </div>
    @* 详情内容 *@
    <el-container style="flex-wrap: nowrap;">
        <div class="layoutSet-main">
            @* 菜单 *@
            <div class="main_header df-wn flex-ac">
                <div class="menu-area">
                    <div class="menu-list df-wn flex-ac">
                        <div v-for="(item,index) in layoutMenuList" :key="index" class="menu-item">
                            <template v-if="item.isEditName">
                                <el-input ref="inputMenuName" v-model.trim="item.name" :size="elSize" placeholder="请输入菜单名称" style="width:100px" @@blur="handleBlurMenuName(item)"></el-input>
                            </template>
                            <template v-else>
                                <span class="title-text">{{ item.name }}</span>
                                <i class="el-icon-edit editMenuName-btn" @@click="handleEditMenuName(item,index)"></i>
                            </template>
                        </div>
                    </div>
                </div>
                <div class="menu-newbtn" @@click="handleAddMenu">
                    <i class="el-icon-plus"></i>新增菜单
                </div>
            </div>
            @* 主体操作区域 *@
            <div class="main_content">
                @* 全局按钮 *@
                <div class="globalButton-area">
                </div>
                @* 组件区域 *@
                <div v-for="(item,index) in layoutComponentsList" :key="index" class="component-area">
                    <div class="w-table" :class="{'w-table_moving': tableDragState.dragging}">
                        @* :height="item.tableConfig.height"
                        :max-height="item.tableConfig.maxHeight"
                        :style="{ width: parseInt(item.tableConfig.width)+'px' }"*@
                        <el-table :data="item.tableMockData"
                                  :border="item.tableConfig.border" :cell-class-name="cellClassName"
                                  :header-cell-class-name="headerCellClassName">
                            <el-table-column v-for="(col, index) in item.tableColumn" :key="index"
                                             :prop="col.prop"
                                             :label="col.label"
                                             :width="col.width"
                                             :min-width="col.minWidth"
                                             :type="col.type"
                                             :header-align="col.headerAlign"
                                             :column-key="index.toString()"
                                             :render-header="renderHeader">
                            </el-table-column>
                        </el-table>
                    </div>
                    @* 组件占位 *@
                    <div class="occupant-area df-wn flex-ac flex-jc">
                        <img src="/image/DynamicData/icon-select_active.png" alt="" class="icon-select" />
                        <span style="user-select:none;">点击右侧添加组件</span>
                    </div>
                </div>
                @* 添加组件提示 @@click="handleAddComponentArea" *@
                <div class="add-Component_Tips df-wn flex-ac flex-jc">
                    <img src="/image/DynamicData/icon-select.png" alt="" class="icon-select" />
                    <span style="user-select:none;">点击右侧添加组件</span>
                    @* <i class="el-icon-circle-plus upper_add-Component" @@click="handleAddComponent('upper')"></i>
                    <i class="el-icon-circle-plus down_add-Component" @@click="handleAddComponent('down')"></i> *@
                </div>
            </div>
        </div>
        @* 侧边栏 *@
        <div class="layoutSet-aside">
            <el-tabs v-model="tabsOverallActiveName" @@tab-click="handleTabsClickOverall">
                <el-tab-pane label="添加" name="first">
                    <div class="tabpane">
                        <div class="operation-title">组件</div>
                        <div class="operation-area df flex-ac">
                            <div class="assembBtn df-wn flex-ac flex-jc" @@click="handleAddComponent('table')">
                                <img src="/image/DynamicData/icon-table.png" alt="" class="btn-iconImg" />
                                <span>数据表格</span>
                            </div>
                            <div class="assembBtn df-wn flex-ac flex-jc" @@click="handleAddComponent('form')">
                                <img src="/image/DynamicData/icon-form.png" alt="" class="btn-iconImg" />
                                <span>数据详情</span>
                            </div>
                            <div class="assembBtn df-wn flex-ac flex-jc" @@click="handleAddComponent('btn')">
                                <span>自定义按钮</span>
                            </div>
                        </div>
                    </div>
                </el-tab-pane>
                <el-tab-pane label="设置" name="second">
                    @* 表格设置管理 *@
                    <div class="tabpane">
                        <div class="subsection-container df-wn flex-ac flex-jc">
                            <div class="subsection-item" :class="{'subsection-item_avtive':setUpActiveName === 'first'}" @@click="handleSwitchSubsection('setUpActiveName','first')">属性</div>
                            <div class="subsection-item" :class="{'subsection-item_avtive':setUpActiveName === 'second'}" @@click="handleSwitchSubsection('setUpActiveName','second')">样式</div>
                        </div>
                        @* 属性 设置 *@
                        <template v-if="setUpActiveName === 'first'">
                            @* 表格提示 *@
                            <div v-if="!columnForm.dataSheet" class="tips-container df-wn flex-ac">
                                <i class="el-icon-warning-outline"></i>
                                <span class="tipsText">
                                    请先选择数据表才能对表字段进行设置
                                </span>
                            </div>
                            @* 列管理 *@
                            <div class="operation-title" style="margin-top:20px;">列管理</div>
                            <el-form ref="columnElForm" :model="columnForm" :rules="columnFormRules" :size="elSize" label-position="top" label-width="80px" class="form-container">
                                <el-form-item label="数据表选择" prop="dataSheet">
                                    <el-select v-model="columnForm.dataSheet" style="width:100%" placeholder="请选择数据表">
                                        <el-option label="数据表文本" value="shanghai"></el-option>
                                        <el-option label="数据表文本1" value="beijing"></el-option>
                                    </el-select>
                                </el-form-item>
                                <el-form-item label="列选择" prop="columnData">
                                    <table class="table-container">
                                        <thead class="table-head">
                                            <tr>
                                                <th style="width:150px">
                                                    <el-checkbox v-model="columnForm.allChecked" :disabled="!columnForm.columnData.length" @@change="handleColumnAllCheckedChange">字段</el-checkbox>
                                                </th>
                                                <th>
                                                    数据类型
                                                </th>
                                                <th style="width:30px"></th>
                                            </tr>
                                        </thead>
                                        <tbody class="table-body">
                                            <tr v-for="(tbody_td,tr) in columnForm.columnData" :key="'tbody-tr-'+tr" style="transition: transform .3s;" :draggable="true" @@dragstart="columnDragstart(tr)"
                                                @@dragenter="columnDragenter($event, tr)"
                                                @@dragover="columnDragover($event, tr)">
                                                <template v-if="tbody_td.iscustom">
                                                    <td colspan="2" style="width:150px;">
                                                        <el-checkbox v-model="tbody_td.checked" @@change="handleColumnCheckedChange">{{ tbody_td.name }}</el-checkbox>
                                                    </td>
                                                    <td style="width:30px">
                                                        <img src="/image/DynamicData/icon-move.png" alt="" class="moveIcon" />
                                                </template>
                                                <template v-else>
                                                    <td style="width:150px;">
                                                        <el-checkbox v-model="tbody_td.checked" @@change="handleColumnCheckedChange">{{ tbody_td.name }}</el-checkbox>
                                                    </td>
                                                    <td>{{ tbody_td.dataType }}</td>
                                                    <td style="width:30px">
                                                        <img src="/image/DynamicData/icon-move.png" alt="" class="moveIcon" />
                                                    </td>
                                                </template>
                                            </tr>
                                            <tr class="addColumn-btn">
                                                @* @@click="handleAddColumn" *@
                                                <td colspan="3" style="position:relative;">
                                                    <el-popover placement="left"
                                                                width="400"
                                                                trigger="click" v-model="addColumnVisible">
                                                        <div class="popover-bodyBox">
                                                            <div class="popover-title">添加列</div>
                                                            <el-form ref="addColumnElForm" :model="addColumnForm" :rules="addColumnFormRules" :size="elSize" label-position="top" label-width="80px" class="form-container">
                                                                <el-form-item label="列属性">
                                                                    <el-select v-model="addColumnForm.property" style="width:100%" placeholder="请选择">
                                                                        <el-option label="普通列" value="shanghai"></el-option>
                                                                        <el-option label="操作列" value="beijing"></el-option>
                                                                    </el-select>
                                                                </el-form-item>
                                                                <el-form-item label="列标题">
                                                                    <el-input v-model.trim="addColumnForm.name" :size="elSize" placeholder="请输入列标题"></el-input>
                                                                </el-form-item>
                                                                <el-form-item label="绑定字段">
                                                                    <el-select v-model="addColumnForm.field" style="width:100%" placeholder="请选择绑定字段">
                                                                        <el-option label="绑定字段文本" value="shanghai"></el-option>
                                                                        <el-option label="绑定字段文本1" value="beijing"></el-option>
                                                                    </el-select>
                                                                </el-form-item>
                                                                <el-form-item label="展示内容">
                                                                    <el-select v-model="addColumnForm.displayContent" style="width:100%" placeholder="请选择展示内容">
                                                                        <el-option label="展示内容文本" value="shanghai"></el-option>
                                                                        <el-option label="展示内容文本1" value="beijing"></el-option>
                                                                    </el-select>
                                                                </el-form-item>
                                                                <el-form-item label="数据格式">
                                                                    <el-select v-model="addColumnForm.dataType" style="width:100%" placeholder="请选择数据格式">
                                                                        <el-option label="数据格式文本" value="shanghai"></el-option>
                                                                        <el-option label="数据格式文本1" value="beijing"></el-option>
                                                                    </el-select>
                                                                </el-form-item>
                                                                <el-form-item label="列宽">
                                                                    <el-input v-model.trim="addColumnForm.columnWidth" :size="elSize" placeholder="请输入列宽"></el-input>
                                                                    @* <el-select v-model="addColumnForm.columnWidth" style="width:100%" placeholder="请选择列宽">
                                                                    <el-option label="数据表文本" value="shanghai"></el-option>
                                                                    <el-option label="数据表文本1" value="beijing"></el-option>
                                                                    </el-select> *@
                                                                </el-form-item>
                                                                <el-form-item label="对齐方式">
                                                                    <el-select v-model="addColumnForm.alignment" style="width:100%" placeholder="请选择对齐方式">
                                                                        <el-option label="左对齐" value="shanghai"></el-option>
                                                                        <el-option label="右对齐" value="beijing"></el-option>
                                                                        <el-option label="中间对齐1" value="beijing"></el-option>
                                                                    </el-select>
                                                                </el-form-item>
                                                                <el-form-item>
                                                                    <el-checkbox v-model="addColumnForm.isSort">允许排序</el-checkbox>
                                                                    <el-checkbox v-model="addColumnForm.isExport">允许导出</el-checkbox>
                                                                    <el-checkbox v-model="addColumnForm.isEdit">允许编辑</el-checkbox>
                                                                    <el-checkbox v-model="addColumnForm.isDelete">允许删除</el-checkbox>
                                                                </el-form-item>
                                                                <el-form-item>
                                                                    <el-button :size="elSize" type="primary" @@click="onConfirmAddColumn">确定</el-button>
                                                                </el-form-item>
                                                            </el-form>
                                                        </div>
                                                        <span slot="reference">
                                                            <i class="el-icon-circle-plus-outline"></i>
                                                            添加列
                                                        </span>
                                                    </el-popover>
                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </el-form-item>
                            </el-form>
                            @* 数据设置 *@
                            <div class="operation-title" style="margin-top:20px;">数据设置</div>
                            <el-form ref="dataSetElForm" :model="dataSetForm" :rules="dataSetFormRules" :size="elSize" label-position="top" label-width="80px" class="form-container">
                                <el-form-item label="数据筛选" prop="filterCriteriaLen">
                                    <el-popover placement="left"
                                                width="400"
                                                trigger="click">
                                        <div class="popover-bodyBox">
                                            <div class="popover-title">筛选条件设置</div>
                                            <div class="popover-list df-wn flex-dc">
                                                <div v-for="(item,index) in dataSetForm.filterCriteria" :key="index" class="popover-list-item df-wn flex-ac">
                                                    <el-select v-model="item.field" placeholder="请选择">
                                                        <el-option v-for="citem in columnForm.columnData"
                                                                   :key="citem.field"
                                                                   :label="citem.name"
                                                                   :value="citem.field">
                                                        </el-option>
                                                    </el-select>
                                                    <el-select v-model="item.symbol" placeholder="请选择">
                                                        <el-option label="等于" value="等于">
                                                        </el-option>
                                                        <el-option label="大于" value="大于">
                                                        </el-option>
                                                        <el-option label="小于" value="小于">
                                                        </el-option>
                                                    </el-select>
                                                    <el-input v-model="item.condition" placeholder="请输入"></el-input>
                                                    <i class="el-icon-close cursorPointer" @@click="handleDeleteFilterCondition(index)"></i>
                                                </div>
                                            </div>
                                            <div class="popover-addbox" @@click="handleAddFilterCondition">
                                                <i class="el-icon-circle-plus-outline"></i>
                                                <span class="tipsText">
                                                    添加筛选条件
                                                </span>
                                            </div>
                                        </div>
                                        <div slot="reference" class="filterCriteria-box df-wn flex-ac">
                                            <div class="showText">{{ dataSetForm.filterCriteriaLen }}个条件</div>
                                            <i class="el-icon-more cursorPointer"></i>
                                        </div>
                                    </el-popover>
                                </el-form-item>
                                <el-form-item label="排序" prop="columnData">
                                    <el-popover v-for="(item,index) in dataSetForm.sortingRules" :key="index" placement="left"
                                                width="400"
                                                trigger="click">
                                        <div class="popover-bodyBox">
                                            <div class="popover-title">排序设置</div>
                                            <div class="popover-list df-wn flex-dc">
                                                <div class="popover-list-item df-wn flex-ac">
                                                    <div class="line-label">排序字段</div>
                                                    <el-select v-model="item.field" placeholder="请选择">
                                                        <el-option v-for="citem in columnForm.columnData"
                                                                   :key="citem.field"
                                                                   :label="citem.name"
                                                                   :value="citem.field">
                                                        </el-option>
                                                    </el-select>
                                                </div>
                                                <div class="popover-list-item df-wn flex-ac">
                                                    <div class="line-label">排序方式</div>
                                                    <el-select v-model="item.sort" placeholder="请选择">
                                                        <el-option label="升序" value="升序">
                                                        </el-option>
                                                        <el-option label="降序" value="降序">
                                                        </el-option>
                                                    </el-select>
                                                </div>
                                            </div>
                                        </div>
                                        <div slot="reference" class="sortList-box df-wn flex-dc" style="transition: transform .3s;" :draggable="true" @@dragstart="sortingRulesDragstart(index)"
                                             @@dragenter="sortingRulesDragenter($event, index)"
                                             @@dragover="sortingRulesDragover($event, index)">
                                            <div class="sortitem-box df-wn flex-ac">
                                                <img src="/image/DynamicData/icon-move.png" alt="" class="moveIcon" />
                                                <div class="sortitemtext">{{ item.field ? `${item.field}-${item.sort}` : '请选择排序字段' }}</div>
                                                <i class="el-icon-remove-outline" style="cursor:pointer;color:#a6a6a6;" @@click.stop="handleDeleteSortingRules(index)"></i>
                                            </div>
                                        </div>
                                    </el-popover>
                                    <div class="addsort-box df-wn flex-ac" @@click="handleAddSortingRules">
                                        <i class="el-icon-circle-plus-outline"></i>
                                        <span class="tipsText">
                                            添加排序规则
                                        </span>
                                    </div>
                                </el-form-item>
                                <el-form-item label="筛选器" prop="columnData">
                                    <el-popover placement="left"
                                                width="400"
                                                trigger="click">
                                        <div class="popover-bodyBox">
                                            <div class="popover-title">筛选器设置</div>
                                            <table class="table-container" style="margin-top:20px;">
                                                <thead class="table-head">
                                                    <tr>
                                                        <th style="width:150px">
                                                            <el-checkbox v-model="columnForm.allChecked" :disabled="!dataSetForm.filterFieldList.length" @@change="handleFilterAllCheckedChange">字段</el-checkbox>
                                                        </th>
                                                        <th>
                                                            数据类型
                                                        </th>
                                                        <th style="width:30px"></th>
                                                    </tr>
                                                </thead>
                                                <tbody class="table-body">
                                                    <tr v-for="(tbody_td,tr) in dataSetForm.filterFieldList" :key="'tbody-tr-'+tr">
                                                        <template v-if="tbody_td.iscustom">
                                                            <td colspan="2" style="width:150px;">
                                                                <el-checkbox v-model="tbody_td.checked" @@change="handleFilterCheckedChange">{{ tbody_td.name }}</el-checkbox>
                                                            </td>
                                                            <td style="width:30px">
                                                                <img src="/image/DynamicData/icon-move.png" alt="" class="moveIcon" />
                                                        </template>
                                                        <template v-else>
                                                            <td style="width:150px;">
                                                                <el-checkbox v-model="tbody_td.checked" @@change="handleFilterCheckedChange">{{ tbody_td.name }}</el-checkbox>
                                                            </td>
                                                            <td>{{ tbody_td.dataType }}</td>
                                                            <td style="width:30px">
                                                                <img src="/image/DynamicData/icon-move.png" alt="" class="moveIcon" />
                                                            </td>
                                                        </template>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div slot="reference" class="filterCriteria-box df-wn flex-ac">
                                            <div class="showText">0个字段</div>
                                            <i class="el-icon-more cursorPointer"></i>
                                        </div>
                                    </el-popover>
                                </el-form-item>
                                <el-form-item label="字段查询范围" prop="columnData">
                                    <el-select v-model="dataSetForm.queryScope" style="width:100%" placeholder="请选择数据类型">
                                        <el-option label="全部字段" value="shanghai"></el-option>
                                        <el-option label="表格列字段" value="beijing"></el-option>
                                    </el-select>
                                </el-form-item>
                            </el-form>
                        </template>
                        @* 样式 设置 *@
                        <template v-if="setUpActiveName === 'second'">
                            <div class="operation-title" style="margin-top:20px;">表格样式设置</div>
                            <el-form ref="tableStyleElForm" :model="tableStyleForm" :rules="tableStyleFormRules" :size="elSize" label-position="top" label-width="80px" class="form-container">
                                <el-form-item label="表格尺寸">
                                    <div class="subsection-container df-wn flex-ac flex-jc">
                                        <div class="subsection-item" :class="{'subsection-item_avtive':tableStyleForm.size === 'medium'}" @@click="handleSwitchSubsection('tableStyleForm.size','medium')">medium</div>
                                        <div class="subsection-item" :class="{'subsection-item_avtive':tableStyleForm.size === 'small'}" @@click="handleSwitchSubsection('tableStyleForm.size','small')">small</div>
                                        <div class="subsection-item" :class="{'subsection-item_avtive':tableStyleForm.size === 'mini'}" @@click="handleSwitchSubsection('tableStyleForm.size','mini')">mini</div>
                                    </div>
                                </el-form-item>
                                <el-form-item>
                                    <el-checkbox v-model="tableStyleForm.showHeader">显示表头</el-checkbox>
                                </el-form-item>
                                <el-form-item>
                                    <el-checkbox v-model="tableStyleForm.stripe">显示斑马纹</el-checkbox>
                                </el-form-item>
                                <el-form-item>
                                    <el-checkbox v-model="tableStyleForm.border">显示边框</el-checkbox>
                                </el-form-item>
                                <el-form-item label="固定列">
                                    <table class="table-container">
                                        <thead class="table-head">
                                            <tr>
                                                <th style="width:150px">
                                                    列名
                                                </th>
                                                <th>
                                                    固定方向
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody class="table-body">
                                            <tr v-for="(tbody_td,tr) in tableStyleForm.columnData" :key="'tbody-tr-'+tr">
                                                <td style="width:150px;">
                                                    <el-checkbox v-model="tbody_td.checked">{{ tbody_td.name }}</el-checkbox>
                                                </td>
                                                <td>
                                                    <el-radio-group v-model="tbody_td.fixed">
                                                        <el-radio label="left">左侧</el-radio>
                                                        <el-radio label="right">右侧</el-radio>
                                                    </el-radio-group>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </el-form-item>
                            </el-form>
                            @* 分页设置 *@
                            <div class="operation-title" style="margin-top:20px;">分页设置</div>
                            <el-form ref="paginationElForm" :model="paginationForm" :rules="paginationFormRules" :size="elSize" label-position="top" label-width="80px" class="form-container">
                                <el-form-item>
                                    <el-checkbox v-model="paginationForm.small">是否使用小型分页</el-checkbox>
                                </el-form-item>
                                <el-form-item>
                                    <el-checkbox v-model="paginationForm.background">是否为分页按钮添加背景色</el-checkbox>
                                </el-form-item>
                                <el-form-item>
                                    <el-checkbox v-model="paginationForm.hideOnSinglePage">只有一页时隐藏</el-checkbox>
                                </el-form-item>
                                <el-form-item label="子组件启用&布局">
                                    <table class="table-container">
                                        <thead class="table-head">
                                            <tr>
                                                <th>
                                                    <el-checkbox v-model="paginationForm.allChecked" @@change="handlePaginationAllCheckedChange">子组件</el-checkbox>
                                                </th>
                                                <th style="width:30px"></th>
                                            </tr>
                                        </thead>
                                        <tbody class="table-body">
                                            <tr v-for="(tbody_td,tr) in paginationForm.layout" :key="'tbody-tr-'+tr">
                                                <td>
                                                    <el-checkbox v-model="tbody_td.checked" @@change="handlePaginationCheckedChange">{{ tbody_td.name }}</el-checkbox>
                                                </td>
                                                <td style="width:30px">
                                                    <img src="/image/DynamicData/icon-move.png" alt="" class="moveIcon" />
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </el-form-item>
                                <el-form-item label="最大页码按钮数">
                                    <el-input v-model="paginationForm.pagerCount" placeholder="最大页码按钮数"></el-input>
                                </el-form-item>
                                <el-form-item label="每页显示个数">
                                    <el-select v-model="paginationForm.pageSizes"
                                               multiple
                                               filterable
                                               allow-create
                                               default-first-option
                                               placeholder="请选择每页显示个数">
                                        <el-option v-for="item in pageSizesOpt"
                                                   :key="item"
                                                   :label="item"
                                                   :value="item">
                                        </el-option>
                                    </el-select>
                                </el-form-item>
                                <el-form-item label="位置">
                                    <el-select v-model="paginationForm.position"
                                               filterable
                                               placeholder="请选择位置">
                                        <el-option v-for="item in pageSizesPositionOpt"
                                                   :key="item"
                                                   :label="item"
                                                   :value="item">
                                        </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-form>
                        </template>
                    </div>
                    @* 表单设置管理 *@
                    @* 按钮设置管理 *@
                </el-tab-pane>
            </el-tabs>
        </div>
    </el-container>
</el-container>

@section scripts {
    <script src="~/js/DynamicData/lib/axios.min.js"></script>
    <script src="~/js/DynamicData/axios.js"></script>
    <script src="~/js/DynamicData/layoutSet.js"></script>
}